﻿<div *ngIf="project" [id]="'projectView_'+project.ProjectID">
    <button id="add-pipeline-button" class="btn btn-primary margin-10" (click)="addPipeLine(project)"><span>Add Pipeline</span></button>
    <ul class="marginzero" *ngFor="let pipeLine of project.pipeLines">
        <app-project-view-pipeline [project]="project" [allModules]='allModules' [pipeLine]="pipeLine"></app-project-view-pipeline>          
    </ul> 
</div>