.form-group.validation-error .input-button-icon {
        right: -3px;
    bottom: 0px;
}
.sub-menu-closed {
    opacity: 0;
    transition: opacity 1.0s,height 0.6s ease;
  }

.sub-menu-expended {
    opacity: 1;
    transition:  opacity 1.0s,height 0.6s ease;
}
.pipeline-name-overflow
{
      text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 69%;
}
.padding-right-ten {
  padding-right: 10px;
}
.pipeline-name-overflow:hover{
  background-color: #d5d5d5;
}
.form-group.validation-error .input-button-icon svg {
        width: 22px;
}
