<ul *ngIf="showChildren">
  <li  [title]="getPipelineTooltip(pipeline)">
      <div class="pull-left padding-right-ten">
        <button style="background: url(assets/img/pipeLine_Icon_16.png) no-repeat;height:15px;width:17px;border:none"></button>  
      </div>
      <div class="pull-left clickable pipeline-name-overflow">
            {{pipeline.Name}}
      </div>
        <div class="clearfix"></div>
      <div *ngIf="pipeline.LastStatus && pipeline.LastStatus=='Failed'"
        class="form-group validation-error pull-right">
        <a class="input-button-icon input-button-icon-warning" tabindex="-1">
          <svg class="icon icon-warning_30px">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/icons.svg#icon-warning_30px"></use>
          </svg>
        </a>
      </div>
  </li>
<li *ngIf="pipeline.Pipelines&& pipeline.Pipelines.length!=0">
  <ul *ngFor="let depPipeline of pipeline.Pipelines" [ngStyle]="getHeight(depPipeline)" [ngClass]="{'sub-menu-expended':!pipeline.isExpended}">
    <li>
      <app-proejct-panel-pipeline [pipeline]="depPipeline" [showChildren]="true"></app-proejct-panel-pipeline>
    </li>
  </ul>
</li>
</ul>
