.logout{
    text-decoration:underline;
    cursor:pointer;
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    top: 2px;
    right: 6px;

}

.logout a:hover{
    color:#fff;
}

.header{
    margin: 0px;
    padding: 10px 24px;
    height: 65px;
}
.header .logo{
    margin-top: 0px;
    position: relative;
}
.header .logo div p{
    margin: 0;
    font-weight: 100;
    line-height: 54px;
}
.fullwidth
{
    width: 100%;
}