﻿
  <div>
    <header class="header" style="z-index:0">
      <div class="col-md-4 col-sm-4">
        <a class ="pull-left fullwidth" href="/" class="logo"> <img alt="Image" src="../../assets/img/logo.png">
          <div>
            <p>Automata</p>
          </div>
        </a>
        <div class="clearfix">
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-md-offset-1 text-center">
          <div class="pull-left">      
         <app-add-button *ngIf="show"></app-add-button>
          </div>
          <div class="clearfix">
          </div>
      </div>
      <!--TODO: only enable admin link and pipe seprator if admin-->
      <div *ngIf="isAdmin" class="pull-right logout" style="padding-right:60px;" (click)="openAdminPanel()">
        <a class="text-white "> Admin</a>
      </div>
      <div *ngIf="isAdmin" class="pull-right logout" style="padding-right:52px;text-decoration: none;cursor:default" >
        <a class="text-white ">|</a>
      </div>
       <div class="pull-right logout"  *ngIf="show" (click)="logout()">
        <a class="text-white "> Log Out</a>
      </div>
      <div class="clearfix"></div>
    </header>
  </div>
