.data-table-head{text-align: center;}
.data-table-row{text-align: center;}
table{border-collapse: inherit;}
.table td, .table th { padding: .4rem;}
.data-table-head th {
    color: #000;
    font-weight: 500;
    background-color: #dddede;
    text-align: center;
}
.anchor-text{
   text-decoration:underline;
   color: #337ab7;
   cursor: pointer;font-weight: 500;
}
.equalWidth{
    width: 20%;
}

/* thead, tbody { display: block; } */

tbody {
    width:100%;
    height: 300px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
}

/* tr.addBox td div ul{
    list-style-type: none;
    background-color: #dddede;
} */

table tbody tr td div div button span.filter-option.pull-left{
    line-height: 52px;
}

table tbody tr td div div.btn-group.bootstrap-select.select-dropdown{
    width:70%;
}
table tbody tr td button.btn.btn-primary{
    min-width: 165px;
}
table tbody tr td div.dropdown.dropdown-custom.bootstrap-select-wrap.form-group{
    float: left;
    width:52%;
    margin:0!important;
    margin-bottom: 0!important;
}




.customNonHoverButton{
    color: #ffffff;
    background-color: #007dc3;
    border-color: #007dc3;
    min-width: 165px;
}

.menuItems {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  font-size: 12px;
  font-family: Helvetica;
  font-weight: none;
}
.ulContext {
  list-style: none;
  display: block;
  background-color: #f9f9f9;
  width: 100%;
}
ul {
  margin-bottom: 0;
}
.auto-font {
  font-size: 12px;
  font-family: Helvetica;
  font-weight: normal;
}
.ulContext {
  list-style: none;
  display: block;
  background-color: #f9f9f9;
  width: 100%;
}
.padZero {
  padding: 0px;
}
.pad-left {
  padding-left: 10px;
}
