<div class="pull-right" *ngIf="settings && settings.search"> <input type="text" class="form-control" [(ngModel)]="search" id="search" placeholder="Search..."></div>
<table class="table table-striped">
  <thead *ngIf="settings && settings.showHeader" class="thead-default data-table-head">
    <tr class="data-table-row">
      <th *ngFor="let column of columnconfig" [ngClass]="column.cssClass">{{column.as}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="settings && settings.custom" class="addBox">
      <td [attr.colspan]="settings.colspan" style="position:relative;">
        <input type="text" class="form-control boxText" placeholder={{settings.dropDownPlaceholder}} [(ngModel)]="textValue" (ngModelChange)="resetSelectedSuggestion()"
        />
        <!-- <div *ngIf="textValue!='' && selectedSuggestion==undefined">
        <ul  *ngFor="let filterdata of suggestionData | searchFilter : settings.SearchKey : textValue " >
          <li (click)="selectedSuggestion=filterdata; textValue = filterdata[settings.SearchKey]" class="show-hand">{{filterdata[settings.SearchKey]}}</li>
        </ul>
        </div> -->

        <div class="suggestbutton" *ngIf="textValue!='' && selectedSuggestion==undefined">
          <!-- <button class="dropbtn">Dropdown</button> -->
          <div class="suggestContent" *ngFor="let filterdata of suggestionData | searchFilter : settings.SearchKey : textValue ">
            <a (click)="selectedSuggestion=filterdata; textValue = filterdata[settings.SearchKey]">{{filterdata[settings.SearchKey]}}</a>

          </div>
        </div>

      </td>
      <td [attr.colspan]="settings.Secondcolspan==undefined?1:settings.Secondcolspan">
        <div *ngIf="settings.enableDropDown" class="dropdown dropdown-custom bootstrap-select-wrap form-group">

          <div class="btn-group bootstrap-select select-dropdown" [ngClass]="{'open':dropDownEnabled}">
            <button class="btn bdr-5 dropdown-toggle" (click)="dropDownEnabled=!dropDownEnabled">
              <span class="filter-option pull-left">{{selectedOption.name}}</span>&nbsp;
                <span class="bs-caret">
                  <svg version="1.1" id="arrow-down" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32"       xml:space="preserve"><g><path d="M16 22.857l11.429-11.406-2.45-2.309-8.978 8.88-8.985-8.88-2.443 2.311z"></path></g>
                  </svg>
                </span>
                    </button>
            <div class="scroll-wrapper open iscroll-init dropdown-menu">
              <ul class="dropdown-list">
                <li *ngFor="let opt of settings.dropDown" (click)="selectedOption=opt;dropDownEnabled=false">
                  <a tabindex="-1" role="option">
                    <span class="text">{{opt.name}}</span>
                    <!--<span [ngClass]="{'glyphicon glyphicon-ok check-mark':opt.isSelected}"></span>-->
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <button type="button" class="btn" [ngClass]="{'btn-primary':!buttonDisabled(), 'customNonHoverButton': buttonDisabled()}"
          [disabled]="buttonDisabled()" (click)="addEvent($event)">
          <span>Add</span></button>
      </td>
    </tr>
    <tr *ngIf="settings && !settings.showHeader">
      <td [attr.colspan]="columnconfig.length">{{settings.CustomRow}}:</td>
    </tr>
    <tr *ngFor="let row of data; let i=index;" class="data-table-row ">
      <td *ngFor="let column of columnconfig; let j=index; " [ngClass]="column.cellClasses ">
        <!-- <div *ngIf="column.prop!=undefined && column.noData==undefined"> -->
        <div [ngSwitch]="column.cellTemplate ">
          <div *ngSwitchCase="1" class="checkbox form-group">
            <input type="checkbox" name="checkbox-{{i}}_{{j}}" id="checkbox-{{i}}_{{j}}" [(ngModel)]="row[column.prop]" (click)="cellClicked($event,row,column)"
              [disabled]="checkdisable(row, column)">
            <label for="checkbox-{{i}}_{{j}}">
                  <span><svg class="icon icon-checkmark_30px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/icons.svg#icon-checkmark_30px"></use></svg></span>
              </label>
          </div>
          <div *ngSwitchCase="2" style="text-align:left;">{{row[column.prop] }}</div>
          <div *ngSwitchCase="3" (click)="customEvent($event, row)" [innerHtml]="column.template"></div>
          <div *ngSwitchCase="4" (click)="delete($event, row)" [innerHtml]="column.template"></div>
          <div *ngSwitchCase="5" (click)="toggleGroupSettings(i)" [innerHtml]="column.template"></div>
          <div *ngSwitchCase="5" [@slideInOut]="menuState ? menuState[i] : 'out'"id="settings-{{i}}_{{j}}" style="position:absolute;width:165px;z-index:1; right:0; top:-60px; box-shadow: 1px 1px 5px #888888;">
            <ul class="ulContext padZero">
              <li id="group-rename-{{i}}" class="menuItems" style="padding: 6px 16px;" (click)="renameGroup($event)">
                <div class="glyphicon glyphicon-pencil pad-left">
                  <span class="LeftPad10  auto-font">Rename Group</span>
                </div>
              </li>
              <li id="group-delete-{{i}}" class="menuItems" style="padding: 6px 16px;" (click)="deleteGroup($event)">
                <div class="glyphicon glyphicon-remove">
                  <span class="LeftPad10  auto-font">Delete Group</span>
                </div>
              </li>
            </ul>
          </div>
          <div *ngSwitchCase="6" (click)="deleteRow($event,row)" [innerHtml]="column.template"></div>
        </div>
        <!-- </div> -->
        
      </td>

    </tr>
  </tbody>
</table>
<div *ngIf="settings && settings.showConfirm" class="modal-footer">
  <button class="btn btn-primary" (click)="dialogSave(); false"><span>Save</span></button>
  <span class="accent-paragraph pointerCursor" (click)="closeDialog()"><span>Cancel</span></span>
</div>

