<div class="pull-right" *ngIf="settings && settings.search"> <input type="text" class="form-control" [(ngModel)]="search" id="search" placeholder="Search..."></div>
<table class="table table-striped"> 
  <thead class="thead-default data-table-head">
    <tr class="data-table-row">
      <th *ngFor="let column of columnconfig" [ngClass]="column.cssClass">{{column.as}}</th>
    </tr>
  </thead>
    <tbody>
      <tr *ngFor="let row of data; let i=index;" class="data-table-row ">
        <td *ngFor="let column of columnconfig; let j=index; " [ngClass]="column.cellClasses ">
          <!-- <div *ngIf="column.prop!=undefined && column.noData==undefined"> -->
          <div [ngSwitch]="column.cellTemplate ">
            <div *ngSwitchCase="1" class="checkbox form-group">
              <input type="checkbox" name="checkbox-{{i}}_{{j}}" id="checkbox-{{i}}_{{j}}" [(ngModel)]="row[column.prop]" (click)="cellClicked($event,row,column)"
                [disabled]="checkdisable(row, column)">
              <label for="checkbox-{{i}}_{{j}}">
                    <span><svg class="icon icon-checkmark_30px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/icons.svg#icon-checkmark_30px"></use></svg></span>
                </label>
            </div>
            <div *ngSwitchCase="2" style="text-align:left;">{{row[column.prop] }}</div>
            <div *ngSwitchCase="3" [innerHtml]="column.template"></div>
            <div *ngSwitchCase="4" (click)="delete($event, row)" [innerHtml]="column.template"></div>
            <div *ngSwitchCase="5" (click)="toggleGroupSettings(i)" [innerHtml]="column.template"></div>
            <div *ngSwitchCase="5" [@slideInOut]="menuState ? menuState[i] : 'out'"id="settings-{{i}}_{{j}}" style="position:absolute;width:165px;z-index:1; right:0; top:-60px; box-shadow: 1px 1px 5px #888888;">
             
            </div>
          </div>
          
        </td>
  
      </tr>
    </tbody>
  
</table>