﻿<div class="container-fluid" style="padding-right: 12px;padding-left: 12px;">
   
   <div class="row">
        <div style="display: -webkit-box;" class="borderleft">
            <div class="paddingzero borderright" [ngStyle]="{'min-height': clientHeight + 'px'}" [ngClass]="{'col-md-2':isProjectPanelOpen,'hidden':!isProjectPanelOpen}">
                <div>
                    <div id="projects-title" class="col-md-11">
                        <h5><b>Projects</b></h5>
                    </div>
                    <div id="collapse-button" class="col-md-1 pull-right paddingzero pointerCursor" title="Hide Projects Panel" (click)="isProjectPanelOpen=!isProjectPanelOpen" *ngIf="isProjectPanelOpen">
                        <svg class="icon icon-chevron-right_20px rotate-180"><use xlink:href="../../assets/icons/icons.svg#icon-chevron-right_20px"></use></svg>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div>
                    <app-projects-panel [projectsCollection]="projectsCollection" [(isAdminActive)]="activeAdmin" (viewOpened)="updateTabCollection($event)"></app-projects-panel>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="borderright paddingzero" id="tabsContainer" [ngStyle]="{'min-height': clientHeight + 'px'}" [ngClass]="{'col-md-10':isProjectPanelOpen,'col-md-12':!isProjectPanelOpen}">
                <div id="expand-button" class="pull-left pointerCursor" style="position:absolute;z-index:1" title="Show Projects Panel" (click)="isProjectPanelOpen=!isProjectPanelOpen" *ngIf="!isProjectPanelOpen">
                    <svg class="icon icon-chevron-right_20px"><use xlink:href="../../assets/icons/icons.svg#icon-chevron-right_20px"></use></svg>
                </div>
                <div class="row marginzero" style="position: relative;">
                  <app-notifications (toggleNotifications)="toggleMenu()" style="position: absolute;right: 0px;"></app-notifications>
                  <div *ngIf="this.tabsCollection.length > 0">
                    <dx-tab-panel style="overflow:hidden;width:100%" #tabPanel [height]="auto" [dataSource]="this.tabsCollection" [selectedIndex]="selectedTab" [loop]="false" [animationEnabled]="true"
                                  [swipeEnabled]="false" [noDataText]="Nothing" (onItemRendered)="preventFocusShift($event)" [focusStateEnabled]="false">
                      <div [attr.id]="'project-' + project.Name" style="min-width:100px" [title]="project.Name" (click)="selectProject(project)" *dxTemplate="let project of 'title'">
                        <span class="textElippsis">{{project.Name}}</span>
                        <span class=" glyphicon glyphicon-remove pull-left closeX" (click)="closeTab(project)"></span>
                      </div>
                      <div style="background-color:#fff" *dxTemplate="let project of 'item'">
                        <div *ngIf="project.Name!='Admin'">
                          <app-project-view [project]='project'[allModules]='allModules' ></app-project-view>
                        </div>
                        <div *ngIf="project.Name=='Admin'">
                          <div style="padding-top:10px">
                            <app-admin></app-admin>
                          </div>
                        </div>
                      </div>
                    </dx-tab-panel>
                    </div>
                  </div>
                  <div id="refer"></div>
                <div class="clearfix"></div>
            </div> 
        </div>
     </div>
   <app-notification-list [@slideInOut]="menuState" (toggleNotifications)="toggleMenu()"></app-notification-list>
  </div>
