.active{
    color: #555;
    border: 1px solid #ccc;
    border-bottom: transparent;
    padding: 8px 15px;
    margin-bottom: -1px;
    background-color: #e4e4e4
}
.inactive{
    color:#007dc3;
    border: 1px solid #ccc;
    border-bottom: transparent;
    padding: 8px 15px;
}
.border-top-zero{
    border-top:0px
}


.tabpanel-item {
    height: 200px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 25px;
    padding-top: 55px;
}
.mobile .tabpanel-item {
    padding-top: 10px;
}
.tabpanel-item  > div {
    float: left;
    padding: 0 85px 10px 10px
}
.tabpanel-item  p {
    font-size: 16px;
}
.item-box {
    font-size: 16px;
    margin: 15px 0 45px 10px;
}
.options {
    padding: 20px;
    background-color: #f5f5f5;
    margin-top: 20px;
}
.caption {
    font-size: 18px;
    font-weight: 500;
}
.option {
    margin-top: 10px;
}
.textElippsis{
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
    display: inline-block;
    max-width:80px;
}
.closeX{
    position: absolute;
    top: 11.5px;
    right: 5px;
}