<div class="modal-dialog" style="    width: 720px">
  <div class="modal-content" >
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title"><b>{{Title}}</b></h4>
    </div>
    <div class="modal-body">
      <div class="panel-body paddingzero borderfull">
        <table class="table table-border-0 marginzero">
          <thead>
            <tr>
              <td>Pipeline</td>
              <td>Start</td>
              <td>End</td>
              <td>Status</td>
              <td *ngIf="Message && Message.length<=noOfCharsInSmallMessage && Message.length>0">Message</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{Pipeline.Name}}</td>
              <td>{{formatDate(Started)}}</td>
              <td>{{formatDate(Ended)}}</td>
              <td>{{Status}}</td>
              <td *ngIf="Message && Message.length<=noOfCharsInSmallMessage && Message.length>0" class="instanceMessage">{{Message}}</td>
            </tr>
            <tr  *ngIf="Message && Message.length>noOfCharsInSmallMessage && Message.length>0">
              <td colspan="5">
                  Message
              </td>
            </tr>
            <tr *ngIf="Message && Message.length>noOfCharsInSmallMessage && Message.length>0">
              <td colspan="5">
                <div class="scroll-table borderfull padding-5 border-radius-2 text-justify" [ngClass]="{'border-danger':Status=='Failed'}" style="height:60px;" >{{Message}}</div>
              </td>
            </tr>
            <tbody>
        </table>
      </div>
  <div style="height:200px;overflow-y:auto; overflow-x:hidden">
      <div class="panel-body paddingzero margin-top-sm">
        <table class="table  table-bordered marginzero" style="margin-bottom: 0px">
            <thead>
                <tr class="width-60">
                  <td>Task</td>
                  <td>Start</td>
                  <td>End</td>
                  <td>Status</td>
                  <td>Message</td>
                </tr>
              </thead>
          <tbody class=" scroll-table">
            <ng-container *ngFor="let pipelineTaskInstance of PipelineTaskInstances; let pipeTaskIndex = index ">
              <tr class="show-hand width-60" (click)=showHideLogs(pipelineTaskInstance)>
                <td>{{TaskIdNameMap[pipelineTaskInstance.PipelineTaskID]}}</td>
                <td>{{formatDate(pipelineTaskInstance.Started)}}</td>
                <td>{{formatDate(pipelineTaskInstance.Ended)}}</td>
                <td>{{pipelineTaskInstance.Status}}</td>
                <td class="inlineEllipsis" title="{{pipelineTaskInstance.Message}}">{{pipelineTaskInstance.Message}}</td>
              </tr>
              <tr *ngIf="pipelineTaskInstance.isExpanded">
                <td colspan="5"style="height:30px; position:relative">
                  <div class="move-right-corner">
                      <div class="checkbox form-group" style="display:inline-block">
                        <input type="checkbox" [attr.name]="'showError'+pipeTaskIndex" [attr.id]="'showError'+pipeTaskIndex" [(ngModel)]="pipelineTaskInstance.showErorrs">
                        <label [for]="'showError'+pipeTaskIndex">
                          <span ><svg class="icon icon-checkmark_20px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/icons.svg#icon-checkmark_30px"></use></svg></span>Error
                      </label>
                      </div>
                      <div class="checkbox form-group " style="display:inline-block">
                        <input type="checkbox" [attr.name]="'showWarning'+pipeTaskIndex" [attr.id]="'showWarning'+pipeTaskIndex" [(ngModel)]="pipelineTaskInstance.showWarnings">
                        <label [for]="'showWarning'+pipeTaskIndex" >
                          <span ><svg class="icon icon-checkmark_20px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/icons.svg#icon-checkmark_30px"></use></svg></span>Warning
                      </label>
                      </div>
                  </div>
                  <!-- <table>
                      <ng-container *ngFor="let log of pipelineTaskInstance.PipeineTaskInstanceModuleLogs">
                        <tr *ngIf="(log.LogMessageType=='Error' && pipelineTaskInstance.showErorrs)|| (log.LogMessageType=='Warning' && pipelineTaskInstance.showWarnings)||((!pipelineTaskInstance.showErorrs&& !pipelineTaskInstance.showWarnings))">
                          <span>{{log.LogDate +":"}}</span><br>
                          <span>{{log.LogMessage}}</span>
                        </tr>
                      </ng-container>
                  </table> -->
                  <ul style="margin-bottom:2px">
                    <li *ngFor="let log of pipelineTaskInstance.PipelineTaskInstanceModuleLogs">
                      <div *ngIf="(log.LogMessageType=='Error' && pipelineTaskInstance.showErorrs)|| (log.LogMessageType=='Warning' && pipelineTaskInstance.showWarnings)||(!pipelineTaskInstance.showErorrs&& !pipelineTaskInstance.showWarnings)">
                          <span>{{formatDate(log.LogDate) +":"}}</span><br>
                          <span>{{log.LogMessage}}</span>
                      </div>
                    </li>
                  </ul>
                </td>
                </tr>
            </ng-container>
            <tbody>
        </table>
      </div>
    </div>
    </div>
    <div class="modal-footer">
      <span class="accent-paragraph pointerCursor" (click)="close()"><span>Cancel</span></span>
    </div>
  </div>
</div>
