.table-border-0 td{
    border:0px !important;
}
.margin-top-sm{
    margin-top: 12px;
}
.icon-checkmark_20px{
    height: 20px;
    width:20px;
    left: 0px;
    top: -3px;
}
.checkbox label span {
    height: 20px;
    width:20px;
}
.move-right-corner{
    position: absolute;
    right: 5px;
    top: 8px;
}
.checkbox label{
        padding-left: 24px;
}

/* table formatting*/
.table, .table tbody tr:nth-child(odd) td {
    font-size: 12px;
    background-color: white;
}
.table td:last-child{
    max-width: 130px;
    width: 130px;
    word-wrap: break-word;
    border-right: 1px solid #ddd;
}
.bg-white
{
    background-color: white;
}
.pipeline-height
{
    height: auto
}

ul {
    list-style-type: none
}

.table tbody tr td:first-child {
     border-left: 1px solid #ddd; 
}

.table tbody tr:last-child td {
     border-bottom: 1px solid #ddd; 
}

.table tbody tr:first-child td {
     border-top: 1px solid #ddd; 
}
.padding-top-sm
{
    padding-top: 2px;
}
.overflow-auto{
    overflow: auto;
}
.collaps-icon
{
    position: absolute;
    top: 8px;
}
.panel-title
{
    margin-left:5px;
}
.pipeline-object{
  font-size:small;
}
.pipeline-button {
  font-size: small;
  padding:0px;
}
.panel-task {
  height:150px;
  width:94px;
}
.btn{
        border-radius: 30px !important;
}
.instanceMessage{
    word-wrap: normal;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    padding-bottom: 1px;
}

.border-danger
{
    border-color:#ed1c24
}
.scroll-table{
    height: 200px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden; 
}
.displayBlock
{
    display: block;
}
.widht-60 >td
{
    width:19.98%
}
.inlineEllipsis{
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}