﻿<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title"><b>{{title || 'Confirm'}}</b></h4>
    </div>
    <div class="modal-body">
      <!--<div class="form-group">
        <label for="email">Task Name <div style="color:red;display:inline">*</div></label>
        <input type="text" class="form-control" id="taskName" [(ngModel)]="taskname">
      </div>-->
      <div class="form-group">
        <div class="" [ngStyle]="{'height':modelContentHeight}">
          <div class="col-md-9 col-sm-12" style="width: 100%; height: 350px;
    overflow: auto;">
            <div class="panel panel-default marginzero">
              <div class="panel-heading">
                <h3 class="panel-title">{{inputOutput}} Parameters</h3>
                <a class="btn btn-primary param-button" (click)="addParameter()">
                  <span>Add Parameter</span>
                </a>
              </div>
              <ng-container *ngFor="let existingParam of existingParameters; let i=index">

                <div class="panel-body">
                  <div class="form-group form-inline">
                    <label for="input-field-info-4" class="param-label">Parameter {{i+1}}</label>
                    <div class="form-group form-inline" style="width: 80%;" [ngClass]="{'js-form-is-collapsable js-form-message-close':!existingParam.errorOpen,'js-form-is-collapsable js-form-message-open':existingParam.errorOpen,'validation-error':existingParam.error}">
                      <a class="input-button-icon input-button-icon-warning" *ngIf="existingParam.error" (click)="existingParam.errorOpen=!existingParam.errorOpen" tabindex="-1">
                        <svg class="icon icon-warning_30px">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/icons.svg#icon-warning_30px"></use>
                        </svg>
                      </a>
                      <div class="panel-collapse collapse " *ngIf="existingParam.error">
                        <p>{{validationText}}</p>
                      </div>


                      <input type="text" class="form-control" id="parameter-name" style="width: 100%;" [(ngModel)]="existingParam.Name" placeholder="Enter Name">

                    </div>
                    <span><span class="param-delete" id="parameter-delete" (click)="removeParameter(existingParam)">X</span></span>
                  </div>
                  <input class="form-control" style="width: 100%;" [attr.id]="'parameter-' + existingParam.ParameterID"
                         [(ngModel)]="parameterValues[existingParam.ParameterID]" />

                  <ng-container *ngIf="previousTaskParameters.length > 0">
                    <div class="form-group" [ngClass]="{'dropdown dropdown-custom bootstrap-select-wrap form-group':(previousTaskParameters && previousTaskParameters.length)}">
                      <div class="btn-group bootstrap-select select-dropdown" [ngClass]="{'open':existingParam.isExpanded}" *ngIf="previousTaskParameters && previousTaskParameters.length">
                        <button type="button" class="btn bdr-5 dropdown-toggle" (click)="collapsAll(selectedModule.Parameters,existingParam);" role="button">
                          <span class="filter-option pull-left">{{parameterTaskHooks[existingParam.ParameterID]==undefined?'None':parameterTaskHooks[existingParam.ParameterID].name}}</span>&nbsp;
                          <span class="bs-caret">
                            <svg version="1.1" id="arrow-down" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" xml:space="preserve"><g><path d="M16 22.857l11.429-11.406-2.45-2.309-8.978 8.88-8.985-8.88-2.443 2.311z"></path></g>
                </svg>
                          </span>
                        </button>
                        <div class="scroll-wrapper open iscroll-init dropdown-menu">
                          <ul class="dropdown-list">
                            <li Class="selected">
                              <a tabindex="-1" role="option" (click)="setNoneValue(existingParam.ParameterID);existingParam.isExpanded=false">
                                <span class="text">None</span>
                              </a>
                            </li>
                            <li [ngClass]="{'selected':parameterTaskHooks[existingParam.ParameterID] == opt}" *ngFor="let opt of previousTaskParameters;let i = index"
                                (click)="parameterTaskHooks[existingParam.ParameterID]=opt;existingParam.isExpanded=false">
                              <a tabindex="-1" role="option">
                                <span class="text">{{opt.name}}</span>

                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>

              </ng-container>

              <ng-container *ngIf="showNewParameters">
                <ng-container *ngFor="let newParam of newParameters; let i=index">

                  <div class="panel-body">
                    <div class="form-group form-inline">
                      <label for="input-field-info-4" class="param-label">Parameter {{existingParameters.length+i+1}}</label>
                      <div class="form-group form-inline" style="width: 80%;" [ngClass]="{'js-form-is-collapsable js-form-message-close':!newParam.errorOpen,'js-form-is-collapsable js-form-message-open':newParam.errorOpen,'validation-error':newParam.error}">
                        <a class="input-button-icon input-button-icon-warning" *ngIf="newParam.error" (click)="newParam.errorOpen=!newParam.errorOpen" tabindex="-1">
                          <svg class="icon icon-warning_30px">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/icons.svg#icon-warning_30px"></use>
                          </svg>
                        </a>
                        <div class="panel-collapse collapse" *ngIf="newParam.error">
                          <p>{{validationText}}</p>
                        </div>


                        <input type="text" class="form-control" style="width: 100%;" id="parameter-name" [(ngModel)]="newParam.Name" placeholder="Enter Name">
                      </div>
                        <span><span class="param-delete" id="parameter-delete" (click)="removeParameter(newParam)">X</span></span>
                      
                      </div>
                      <input class="form-control" style="width: 100%;" [attr.id]="'parameter-' + newParam.ParameterID"
                             [(ngModel)]="parameterValues['new-' + newParam.index]" />

                      <ng-container *ngIf="previousTaskParameters.length > 0">
                        <div class="form-group" [ngClass]="{'dropdown dropdown-custom bootstrap-select-wrap form-group':(previousTaskParameters && previousTaskParameters.length > 0)}">
                          <div class="btn-group bootstrap-select select-dropdown" [ngClass]="{'open':newParam.isExpanded}">
                            <button type="button" class="btn bdr-5 dropdown-toggle" (click)="collapsAll(selectedModule.Parameters,newParam);" role="button">
                              <span class="filter-option pull-left">{{parameterTaskHooks['new-'+newParam.index]==undefined?'None':parameterTaskHooks['new-'+newParam.index].name}}</span>&nbsp;
                              <span class="bs-caret">
                                <svg version="1.1" id="arrow-down" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" xml:space="preserve"><g><path d="M16 22.857l11.429-11.406-2.45-2.309-8.978 8.88-8.985-8.88-2.443 2.311z"></path></g></svg>
                              </span>
                            </button>
                            <div class="scroll-wrapper open iscroll-init dropdown-menu">
                              <ul class="dropdown-list">
                                <li Class="selected">
                                  <a tabindex="-1" role="option" (click)="setNoneValue('new-'+newParam.index);newParam.isExpanded=false">
                                    <span class="text">None</span>
                                  </a>
                                </li>
                                <li [ngClass]="{'selected':parameterTaskHooks['new-'+newParam.index] == opt}" *ngFor="let opt of previousTaskParameters;let i = index"
                                    (click)="parameterTaskHooks['new-'+newParam.index]=opt;newParam.isExpanded=false">
                                  <a tabindex="-1" role="option">
                                    <span class="text">{{opt.name}}</span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </div>

                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button id="save-task" class="btn btn-primary" (click)="confirm()"><span>Save</span></button>
      <span id="cancel" class="accent-paragraph pointerCursor" (click)="close()"><span>Cancel</span></span>
    </div>

  </div>
