﻿.modal-dialog {
  width: 60%;
  overflow: hidden;
  max-height: 95%;
}
.panel-body {
  min-height: 46vh;
}
.container {
  padding-left: 5px;
  padding-right: 5px;
}
.parameter {
  padding-top: 10px;
}
.btn{
        border-radius: 30px !important;
}
.scroll-y{
  overflow-y:auto;overflow-x:hidden;
}
.bdr-5{
  border-radius: 5px !important
}

.wrapModuleName{
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
width: 110%;
display:inline-block;
}
.param-label {
  color: #666666;
  font-size: 14px;
  font-weight: 600;
  margin-left: 19px;
  position: relative;
  z-index: 1;
  cursor: text;
  vertical-align: middle;
}
.param-delete {
  font-weight: bold;
  font-size: x-large;
  padding-left: 10px;
  cursor: pointer;
}
.param-button {
  float: right;
  line-height: 1.0;
  margin-top: -33px;
}

.panel-body {
  min-height: unset;
}
