﻿<div style="display: -webkit-box" class="borderright borderleft" [ngStyle]="{'min-height': clientHeight + 'px'}">
<div class="login col-md-4"></div>
<div class="login col-md-4">
  <h3>Login to your Account</h3>
  <div class="form-group" ngClass={{UsernamevalidationClass}}>
    <a *ngIf="Usernamevalidationfalse" (click)="showError('username')" id="warning-icon" class="input-button-icon input-button-icon-warning pointerCursor"  tabindex="-1"><svg class="icon icon-warning_30px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/icons.svg#icon-warning_30px"></use></svg></a>

    <div *ngIf="showUsernameMessage" id="error-message" class="panel-collapse collapse in"  ><p>{{usernameMessage}}</p></div>
    <input type="text" class="form-control" id="input-field-info-1" placeholder={{placeholderText}} [(ngModel)]="username" (ngModelChange)="resetField('username')">
  </div>
  <div class="password-arrow form-group form-password" ngClass={{PasswordvalidationClass}}>

    <a *ngIf="Passwordvalidationfalse" (click)="showError('password')" id="warning-icon" class="input-button-icon input-button-icon-warning pointerCursor" style="right:75px"tabindex="-1"><svg class="icon icon-warning_30px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/icons.svg#icon-warning_30px"></use></svg></a>

    <div *ngIf="showPasswordMessage" id="error-message" class="panel-collapse collapse in"><p>{{passwordMessage}}</p></div>


     <span class="pass-btn" id="view-password-button" (click)="togglePasswordView()"><svg class="icon icon-eye_30px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/icons.svg#icon-eye_30px"></use></svg></span >
    <input type={{typeforPassword}} class="form-control" id="password" placeholder="Password" [(ngModel)]="password" (ngModelChange)="resetField('password')">
  </div>

  <div class="checkbox form-group ">
    <input type="checkbox" name="remember-me" id="remember-me" [(ngModel)]="rememberMe">
    <label for="remember-me">
        <span ><svg id="remember-me-check" class="icon icon-checkmark_30px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/icons.svg#icon-checkmark_30px"></use></svg></span> Remember me
    </label>
  </div>


  <div class="row">
    <div class="col-md-6">
      <a href="javascript:void(0);" class="btn btn-default" (click)="login()"><span>Login</span></a>
    </div>
  

  </div>
</div>
<div class="login col-md-4"></div>
<div class="clearfix"></div>
</div>
