﻿.center {
  margin:auto;
  text-align: center;
}
.pointerCursor {
  cursor: pointer;
}
.rotate-180{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.header{
    margin: 0px;
    height:105px;
    padding: 10px 24px;
}
.header .logo{
    margin-top: 0px;
    position: relative;
}
.header .logo div p{
    margin: 0;
    font-weight: 100;
    line-height: 54px;
}
.borderfull{
    border:1px solid #ccc
}
.paddingzero{
    padding: 0px;
}
.marginzero{
    margin: 0px!important;
}
.myClass{
    top: -6px;
    display: inline-block;
    position: relative;
    border: dashed;
    width: 30px;
    height: 23px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
}
.myClass1{
    top: -6px;
    display: inline-block;
    position: relative;
    border: dashed;
    width: 30px;
    height: 23px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
}
.myClass2{
    top: -6px;
    display: inline-block;
    position: relative;
    border: dashed;
    width: 30px;
    height: 23px;
    border-top: 0px;
    border-right: 0px;
    
}


ul.tree, ul.tree ul {
    list-style-type: none;
    /*background: url(./assets/img/vline.png) repeat-y;*/
    margin: 0px;
    padding:0px;  
    font-family:"Helvetica Neue", "Segoe UI", Helvetica, Verdana, sans-serif;
    font-size:14px;
    font-weight:normal
}

ul.tree ul, .close-margin {
    margin-left: 10px;
}
ul.tree li ul:last-child{
  /*  background: url(./assets/img/lastnode.png) no-repeat;*/
}

ul.tree li {
    margin: 0;
    padding-top: 2px;
    line-height: 20px;
}

.tree:nth-child(1){padding-left: 10px}
.last{
        /*background: url(./assets/img/lastnode.png) no-repeat;*/
}

.plusminusbtn{
    height: 14px;
    width: 14px;
    line-height: 6px;
    padding: inherit;
}

.tab-ui{
    background-color: #DAD9D9;
    border-radius: 2px 2px 0px 0px;
    padding: 5px; 
    margin: 3px 3px 0px 0px;
}

.tab-ui-active {
  background-color: #808080;
  color: #FFFFFF;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.fix-cover-all{
    position:  relative;
  right:0px;
  left:0px;
  bottom:0px;
  top:0px;
}

.clickable {
  cursor: pointer;
}

.borderright {
  border-right: 1px solid #ccc
}
.borderbottom {
  border-bottom: 1px solid #ccc
}
.borderleft {
  border-left: 1px solid #ccc
}
.bordertop {
  border-top: 1px solid #ccc
}
.overflowHidden{
    overflow: hidden
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.overflowHidden{
    overflow: hidden
} 
.show-hand:hover{
    cursor: pointer;
}
.pos-rel{
    position:relative;
}
angular-kalendar div date-picker-days div {
  height: 20.5rem!Important;
  width: 20rem!Important;
}
angular-kalendar input {
width:155px!important;
}
angular-kalendar div{
  z-index:61!important;
}

/* .ui-datepicker.ui-widget {
  top: 28px !important;
} */
/* Dropdown Button */
/*dropbtn=SuggestionOverlay*/
.SuggestionOverlay {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
/*dropdown= suggestbutton*/
.suggestbutton {
    position: absolute;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

/* Dropdown Content (Hidden by Default) */
/*dropdown-content = suggestContent*/
.suggestContent {
    display: block;
    /* position: absolute; */
    background-color: #f9f9f9;
    /*min-width: 160px;*/
    width:100%;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; */
}

/* Links inside the dropdown */
.suggestContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.suggestContent a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
/* .dropdown:hover .dropdown-content {
    display: block;
} */

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {
    background-color: #3e8e41;
} */

.dx-tabpanel-tabs {
  width: 95% !important;
}
.dx-tabs {
  border: none !important;
}
.padding-5
{
    padding:5px
}
.border-radius-2{
    border-radius: 2px;
}

.dx-multiview-item.dx-item-selected {
  overflow: visible !important;
}
.dx-multiview-wrapper {
  overflow: visible !important;
}


/*for Calendar Module in Scheduler*/
.owl-timer-wrapper {
    height: 4.3em!important;
  }
  .owl-dateTime-dialog {
    width: 216px!important;
  }

  .owl-timer-wrapper .owl-timer-input {
    font-size: 0.7em!important;
  }
  .owl-dateTime-cancel{
      display:none;
  }
  .owl-day-today{
      background-color: #d6d6d6;
  }
  .owl-days td.owl-day.owl-day-today:before{
      display: none!important;
  }

  .owl-calendar tbody td.owl-calendar-outFocus.owl-day-today{
    color:#878787;
    background-color: #e8e8e8;
  }
  /* .owl-dateTime {
    width: 80%!important;
    } */
  .owl-dateTime-input {
    padding-right: 0!important;
  }
  .calendar-btn{
    border: 1px solid #2399e5;
    color: #fff;
    background: #2399e5;
    transition: background-color .2s;
    margin-left: -6px;
    height: 32px;
    width: 30px;
    border-radius: 2px;
    padding: 5px 7px;
  }
  .owl-dateTime {
    width: 0!important;
  }
  .owl-dateTime-dialog{
      left:-140px !important;
  }
  .force-Calendar-up{
      top:-288px!important;
  }
