.customNonHoverButton{
    color: #ffffff;
    background-color: #007dc3;
    border-color: #007dc3;
    min-width: 182px;
}


@media (min-width: 480px){
.modal-dialog {
    width: 750px;
    margin: 30px auto;
}
}


table tbody tr td div div button span.filter-option.pull-left{
    line-height: 52px;
}


table tbody tr td button.btn.btn-primary{
    min-width: 165px;
}
table tbody tr td div.dropdown.dropdown-custom.bootstrap-select-wrap.form-group{
    float: left;
    margin:0!important;
    margin-bottom: 0!important;
}

tbody {
    width:100%;
    height: 300px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
}
.data-table-head{text-align: center;}
.data-table-row{text-align: center;}
table{border-collapse: inherit;}
.table td, .table th { padding: .4rem;}
.data-table-head th {
    color: #000;
    font-weight: 500;
    background-color: #dddede;
    text-align: center;
}
.anchor-text{
   text-decoration:underline;
   color: #337ab7;
   cursor: pointer;font-weight: 500;
}
.equalWidth{
    width: 20%;
}
