<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()">&times;</button>
            <h4 id="DialogTitle" class="modal-title">
                <b>{{title || 'Confirm'}}</b>
            </h4>
        </div>
        <div class="modal-body">
            <div *ngIf="title=='Delete Pipeline'">
                <div>Are you sure you want to delete pipeline - {{message}}?</div>
                <div class="alert alert-danger" *ngIf="errorMessage">
                    {{errorMessage}}
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div *ngIf="title=='Edit Notification Settings'">
                <table class="table table-striped">
                        <tbody>
                    <tr >
                    <td style="position:relative;">
                        <input type="text" class="form-control boxText" placeholder="Add User" [(ngModel)]="textValue" (ngModelChange)="resetSelectedSuggestion()"
                        />
                        <div class="suggestbutton" *ngIf="textValue!='' && isSelectedSuggestionDefined()">
                            <!-- <button class="dropbtn">Dropdown</button> -->
                            <div class="suggestContent" *ngFor="let filterdata of suggestionData | searchFilter : SearchKey : textValue ">
                                <a (click)="selectedSuggestion=filterdata; textValue = filterdata[SearchKey]">{{filterdata[SearchKey]}}</a>

                            </div>
                        </div>
                    </td>
                    <td style="width:200px;">
                        <div class="dropdown dropdown-custom bootstrap-select-wrap form-group">
                            <div class="btn-group bootstrap-select select-dropdown" [ngClass]="{'open':dropDownEnabled}">
                                <button class="btn bdr-5 dropdown-toggle" (click)="dropDownEnabled=!dropDownEnabled">
                                    <span class="filter-option pull-left">{{selectedOption.name}}</span>&nbsp;
                                    <span class="bs-caret">
                                        <svg version="1.1" id="arrow-down" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                            y="0px" viewBox="0 0 32 32" xml:space="preserve">
                                            <g>
                                                <path d="M16 22.857l11.429-11.406-2.45-2.309-8.978 8.88-8.985-8.88-2.443 2.311z"></path>
                                            </g>
                                        </svg>
                                    </span>
                                </button>
                                <div class="scroll-wrapper open iscroll-init dropdown-menu">
                                    <ul class="dropdown-list">
                                        <li *ngFor="let opt of settings.dropDown" (click)="selectedOption=opt;dropDownEnabled=false">
                                            <a tabindex="-1" role="option">
                                                <span class="text">{{opt.name}}</span>
                                                <!--<span [ngClass]="{'glyphicon glyphicon-ok check-mark':opt.isSelected}"></span>-->
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div></td>
                        <td>
                        <button type="button" class="btn" [ngClass]="{'btn-primary':!buttonDisabled(), 'customNonHoverButton': buttonDisabled()}"
                            [disabled]="buttonDisabled()" (click)="addUser($event)">
                            <span>Add</span>
                        </button>
                    </td>
                </tr>
                </tbody>
                </table>
                <app-grid-data-table [data]="gridData.data" [columnconfig]="gridData.columnconfig"></app-grid-data-table>
            </div>
        </div>
        <div class="modal-footer">
            <button [disabled]="disable" id="confirm" class="btn" [ngClass]="{'btn-primary':!disable, 'customNonHoverButton': disable}"
                (click)="confirm()">
                <span>{{buttonText}}</span>
            </button>
            <span id="cancel" class="accent-paragraph pointerCursor" (click)="close()">
                <span>Cancel</span>
            </span>
        </div>
    </div>
</div>