﻿<div>
  <h4>User Access</h4>
  <app-data-table [data]="gridData.data" [columnconfig]="gridData.columnconfig" [settings]="gridData.settings" [events]="gridData.events"></app-data-table>
  <h4>Group Access</h4>
  <app-data-table [data]="gridData2.data" [columnconfig]="gridData2.columnconfig" [settings]="gridData2.settings" [events]="gridData2.events" [menuState]="menuState"></app-data-table>  
</div>