<div class="container-fluid">
    <app-mask *ngIf="show"></app-mask>
    <div>
        <!-- 'margin-bootom': '-FooterHeight' -->
        <app-header></app-header>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
        <!-- 50px is FooterHeight  this will push 
    the footer so it will not overlap if you have very long content  -->
    </div>
  
</div>