﻿<ul class="tree">
  <ng-container  *ngFor="let project of projectsCollection">
    <li style="padding-top:2px" >
        <div class="pull-left padding-right-ten " (click)="project.isExpended=!project.isExpended" *ngIf="!project.isExpended && project.pipeLines.length!=0">
        <button [attr.id]="'project-folder-closed-' + project.Name"  style="background: url(assets/img/closed-icon.png) no-repeat;height:15px;width:17px;border:none"></button>  
        </div>
        <div class="pull-left padding-right-ten "  (click)="project.isExpended=!project.isExpended" *ngIf="project.isExpended ||project.pipeLines.length==0">
        <button type="button" [attr.id]="'project-folder-open-' + project.Name"  style="background: url(assets/img/Folder_16.png) no-repeat;height:15px;width:17px;border:none"></button>    
        </div>
        <div id="project-{{project.Name}}" class="pull-left clickable project-name-overflow" (click)="selectProject(project)" title="{{project.Name}}">
          {{project.Name}}
        </div>
        <div class="clearfix"></div>
    </li>
    <li>
      <ul  [ngStyle]="getHeight(project)" [ngClass]="{'sub-menu-closed':!project.isExpended, 'sub-menu-expended':project.isExpended}">
        <li *ngFor="let pipeLine of project.pipeLines">
          <app-proejct-panel-pipeline [pipeline]="pipeLine" [showChildren]="project.isExpended" ></app-proejct-panel-pipeline>
        </li>
      </ul>
    </li>
  </ng-container>
</ul>

