﻿.padding-right-ten {
  padding-right: 10px;
}
.sub-menu-closed {
    opacity: 0;
    transition: opacity 1.0s,height 0.6s ease;
  }

.sub-menu-expended {
    opacity: 1;
    transition:  opacity 1.0s,height 0.6s ease;
}
.project-name-overflow
{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 69%;
}
.project-name-overflow:hover{
  background-color: #d5d5d5;
}



