﻿
.notification-icon {
  padding-left: 5px;
  padding-right: 5px;
}

.notification-navbar {
  min-height: unset;
  margin-bottom: unset;
}
.bell-attr {
  color: darkgray; 
  font-size: 30px;
}
.badge-notify {
  background: red;
  position: relative;
  left: 35px;
}
.row-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.clear-all {
  font-size: 12px;
  line-height: 1.50057;
}

.footer {
  background-color: #f8f8f8;
  border-top: 1px solid #ccc
}
ul {
  list-style: none;
  line-height: 1.5;
  font-size: 12px;
  -webkit-padding-start: 10px;
  padding-right: 10px;
}

li {
  display: table;
  border-bottom: 1px solid #ccc;
  border-width: 1px 0;
}

.left {
  display: table-cell;
  text-align: left;
  width: 420px;
}

.right {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}

.dropdown .dropdown-menu.scroll-wrapper > ul, .dropdown-custom .dropdown-menu.scroll-wrapper > ul, .select-dropdown .dropdown-menu.scroll-wrapper > ul {
  padding: 0px 2px 0px 2px;
}

.notifications-open {
  background-color: white;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  
}

ul {
  margin-bottom: 0px; 
}

.dropdown.open .dropdown-menu:not(.inner), .dropdown-custom.open .dropdown-menu:not(.inner), .select-dropdown.open .dropdown-menu:not(.inner) {
  max-height: 300px !important;
  
}

.scrollbar {
  overflow: auto !important;
}
.notificationIcon{
  border-left: 1px solid rgba(255, 0, 0, 0);border-right: 1px solid rgba(255, 0, 0, 0)
}