﻿<!--div class="container-fluid row row-padding"-->
<div class="pull-right btn-group bootstrap-select select-dropdown notificationIcon" [ngClass]="{'open':notificationsOpen, 'notifications-open':notificationsOpen}">
  <div class="pull-right" (click)="showNotifications()">
    <a class="pull-right">
      <span class="pull-right glyphicon glyphicon-bell notification-icon bell-attr clickable"></span>
      <span *ngIf="notificationCount > 0" class="pull-right badge badge-notify">{{notificationCount}}</span>
    </a>
  </div>
  <div class="dropdown-menu" style="min-width: 350px; height: 300px;"  [ngClass]="{'scrollbar':notificationCollection !== undefined && notificationCollection.length > 5}">
    <div class="center">
      <span *ngIf="notificationCollection === undefined || notificationCollection.length == 0"><span class="clear-all">No Notifications</span></span>
    </div>
    <ul class="dropdown-list" style="min-height: 270px;">
      <ng-container *ngFor="let notification of notificationCollection">
        <li>
          <span class="left">
            {{formatDate(notification.Timestamp)}}&nbsp;
            <strong>{{notification.ProjectName}}&nbsp;</strong>
            <strong>{{notification.PipelineName}}</strong><br />
            {{notification.Message}}
          </span>
          <span class="right"><span class="clickable pull-right padding-right-ten" style="color: darkgray" (click)="removeNotification(notification)">X</span></span>
        </li>
      </ng-container>
      </ul>      
    <div *ngIf="notificationCollection !== undefined && notificationCollection.length > 0" class="footer">
      <div class="center">
        <span class="pointerCursor clear-all" (click)="removeAll()"><span>Remove All Notifications</span></span>
      </div>
    </div>
</div>
</div>
  <!--div-->
