﻿.modal-dialog {
  width: 77%;
  overflow: hidden;
  max-height: 95%;
}
.panel-body {
  min-height: 46vh;
}
.container {
  padding-left: 5px;
  padding-right: 5px;
}
.parameter {
  padding-top: 10px;
}
.btn{
        border-radius: 30px !important;
}
.scroll-y{
  overflow-y:auto;overflow-x:hidden;
}
.bdr-5{
  border-radius: 5px !important
}

.wrapModuleName{
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
width: 110%;
display:inline-block;
}