﻿<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title" id="dialog-title"><b>{{title || 'Confirm'}}</b></h4>
    </div>
    <div class="modal-body">
      <!--<div class="form-group">
        <label for="email">Task Name <div style="color:red;display:inline">*</div></label>
        <input type="text" class="form-control" id="taskName" [(ngModel)]="taskname">
      </div>-->
      <div class="form-group" [ngClass]="validationClass">
        <div class="container" class="scroll-y" [ngStyle]="{'height':modelContentHeight}">
          <div class="col-md-9 col-sm-12">
            <div class="panel panel-default marginzero">
              <div class="panel-heading">
                <h3 class="panel-title">Task Details</h3>
              </div>
              <div class="panel-body">
                <div class="form-group" [ngClass]="{'js-form-is-collapsable js-form-message-close':!isErorrOpened,'js-form-is-collapsable js-form-message-open':isErorrOpened,'validation-error':errorEnabled}">
                  <a class="input-button-icon input-button-icon-warning" *ngIf="errorEnabled" (click)="isErorrOpened=!isErorrOpened" tabindex="-1">
                    <svg class="icon icon-warning_30px" id="warning-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/icons.svg#icon-warning_30px"></use>
                    </svg>
                  </a>
                  <div class="panel-collapse collapse" id="warning-message">
                    <p>{{validationText}}</p>
                  </div>
                  <label for="input-field-info-4" class="control-label">Task Name <span style="color:red;display:inline">*</span></label>
                  <input type="text" class="form-control" id="input-field-info-4" [(ngModel)]="taskname" (ngModelChange)="resetErrorMessage()">
                </div>
                <ng-container *ngIf="selectedModule && selectedModule.Parameters">
                  <ng-container *ngFor="let parameter of selectedModule.Parameters">
                    <div *ngIf="parameter.Direction.toUpperCase() != 'OUT'" class="parameter" [ngClass]="{'dropdown dropdown-custom bootstrap-select-wrap form-group':(previousTaskParameters[parameter.ParameterType.ParameterTypeID] && previousTaskParameters[parameter.ParameterType.ParameterTypeID].length)}">
                      <label [attr.for]="'parameter-' + parameter.ParameterID" class="control-label main-label">{{parameter.Name}}</label>
                      <input class="form-control" *ngIf="parameter.ParameterType.Name == 'String'" [attr.id]="'parameter-' + parameter.ParameterID"
                        [(ngModel)]="parameterValues[parameter.ParameterID]" />
                      <textarea class="form-control" rows="15" cols="34" *ngIf="parameter.ParameterType.Name == 'script'" [attr.id]="'parameter-' + parameter.ParameterID"
                        [(ngModel)]="parameterValues[parameter.ParameterID]"></textarea>
                        <ng-container *ngIf="true">
                      <div class="btn-group bootstrap-select select-dropdown" [ngClass]="{'open':parameter.isExpanded}" *ngIf="previousTaskParameters[parameter.ParameterType.ParameterTypeID] && previousTaskParameters[parameter.ParameterType.ParameterTypeID].length">
                        <button type="button" class="btn bdr-5 dropdown-toggle"  (click)="collapsAll(selectedModule.Parameters,parameter);" role="button">
                            <span class="filter-option pull-left">{{parameterTaskHooks[parameter.ParameterID]==undefined?'None':parameterTaskHooks[parameter.ParameterID].name}}</span>&nbsp;
                            <span class="bs-caret">
                              <svg version="1.1" id="arrow-down" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" 	xml:space="preserve"><g><path d="M16 22.857l11.429-11.406-2.45-2.309-8.978 8.88-8.985-8.88-2.443 2.311z"></path></g>
                              </svg>
                            </span>
                          </button>
                        <div  class="scroll-wrapper open iscroll-init dropdown-menu"><!--test commit -->
                           <ul class="dropdown-list" >
                              <li  Class="selected"><a tabindex="-1" role="option" (click)="setNoneValue(parameter.ParameterID);parameter.isExpanded=false">
                                  <span class="text">None</span>
                                </a></li>
                            <li  [ngClass]="{'selected':parameterTaskHooks[parameter.ParameterID] == opt}" *ngFor="let opt of previousTaskParameters[parameter.ParameterType.ParameterTypeID];let i = index"
                              (click)="parameterTaskHooks[parameter.ParameterID]=opt;parameter.isExpanded=false">
                              <a tabindex="-1" role="option">
                                <span class="text">{{opt.name}}</span>
                                <!--<span [ngClass]="{'glyphicon glyphicon-ok check-mark':opt.isSelected}"></span>-->
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                        </ng-container>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12">
            <div class="panel panel-default marginzero">
              <div class="panel-heading">
                <h3 class="panel-title">Modules</h3>
              </div>
              <div class="panel-body">
                <div *ngFor="let group of groupKeys">
                  <div>{{group}}</div>
                  <div *ngFor="let module of moduleGroups[group]" class="radio  form-group ">
                    <input type="radio" name="radio" [attr.id]="'radio-' + module.Name" [(ngModel)]="selectedModuleID" [value]="module.ModuleID"
                      (click)="onClick(module.ModuleID);">
                    <label [attr.for]="'radio-' + module.Name">
                        <span><svg class="icon icon-checkmark_30px" [attr.id]="'radio-check-' + module.Name"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/icons.svg#icon-checkmark_30px"></use></svg></span>
                          <font title="{{module.Name}}" class="wrapModuleName">
                            {{module.Name}}
                        </font>
                      </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button id="save-task" class="btn btn-primary" (click)="confirm()"><span>Save</span></button>
      <span id="cancel" class="accent-paragraph pointerCursor" (click)="close()"><span>Cancel</span></span>
    </div>

  </div>
</div>
