﻿div.scroll-wrapper.open.iscroll-init.dropdown-menu.copyDrop {
  max-height: 200px !important;
  transition: max-height 0.8s ease;
  overflow: hidden;
}

div.scroll-wrapper.open.iscroll-init.dropdown-menu.commonHeight {
  max-height: 150px !important;
  transition: max-height 0.8s ease;
  overflow: hidden;
}
