﻿<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title"><b>{{title || 'Confirm'}}</b></h4>
    </div>
    <div class="modal-body">
      <div class="form-group" ngClass={{validationClass}}>
        <a *ngIf="failedValidation" id="warning-icon" (click)="showError()" class="input-button-icon input-button-icon-warning pointerCursor" href="#"
          tabindex="-1">
          <svg class="icon icon-warning_30px">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/icons.svg#icon-warning_30px"></use>
          </svg>
        </a>
        <div *ngIf="showFailedValidation" id="error-message" class="panel-collapse collapse in">
          <p>{{validationText}}</p>
        </div>
        <label for="input-field-info-4" class="control-label">Project Name <span style="color:red;display:inline">*</span></label>
        <input type="text" class="form-control" id="input-field-info-4" [(ngModel)]="projectname" (ngModelChange)="resetField()">
      </div>
      <div class="dropdown dropdown-custom bootstrap-select-wrap form-group">
        <label class="main-label">Group</label>
        <div class="btn-group bootstrap-select select-dropdown" [ngClass]="{'open':dropDownEnabled}">
          <button class="btn bdr-5 dropdown-toggle" (click)="dropDownEnabled=!dropDownEnabled">
          <span class="filter-option pull-left">{{selectedOption["Name"]}}</span>&nbsp;
            <span class="bs-caret">
              <svg version="1.1" id="arrow-down" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32"       xml:space="preserve"><g><path d="M16 22.857l11.429-11.406-2.45-2.309-8.978 8.88-8.985-8.88-2.443 2.311z"></path></g>
              </svg>
            </span>
                </button>
          <div class="scroll-wrapper open iscroll-init dropdown-menu">
            <ul class="dropdown-list">
              <li *ngFor="let opt of dropDown" (click)="selectedOption=opt; dropDownEnabled=false ">
                <a tabindex="-1" role="option">
                <span class="text">{{opt.Name}}</span>
                <!--<span [ngClass]="{'glyphicon glyphicon-ok check-mark':opt.isSelected}"></span>-->
              </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="dropdown dropdown-custom bootstrap-select-wrap form-group">
        <label class="main-label">Copy Project</label>
        <div class="btn-group bootstrap-select select-dropdown" id="copy-dropdown" [ngClass]="{'open':copyDropDownEnabled}">
          <button class="btn bdr-5 dropdown-toggle" (click)="copyDropDownEnabled=!copyDropDownEnabled">
            <span class="filter-option pull-left">{{selectedCopyOption["Name"] ? selectedCopyOption["Name"] : "None" }}</span>&nbsp;
            <span class="bs-caret">
              <svg version="1.1" id="arrow-down" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" xml:space="preserve"><g><path d="M16 22.857l11.429-11.406-2.45-2.309-8.978 8.88-8.985-8.88-2.443 2.311z"></path></g>
              </svg>
            </span>
          </button>
          <div class="scroll-wrapper open iscroll-init dropdown-menu" style="overflow-y:auto" [ngClass]="{'copyDrop':copyDropDownEnabled}">
            <ul class="dropdown-list">
              <li *ngFor="let copyOpt of copyDropDown" (click)="selectedCopyOption=copyOpt; copyDropDownEnabled=false ">
                <a tabindex="-1" role="option">
                  <span class="text">{{copyOpt.Name}}</span>
                  <!--<span [ngClass]="{'glyphicon glyphicon-ok check-mark':opt.isSelected}"></span>-->
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" id="save-project-button" (click)="confirm($event); false"><span>Save</span></button>
      <span class="accent-paragraph pointerCursor" (click)="close()"><span>Cancel</span></span>
    </div>
  </div>
</div>
