﻿<div class="borderfull" style="bottom:0px;right:0px;width:100%;">
    <footer>
      <div class="col-md-5">
      </div>

      <div class="col-md-2">
        <div class="copyright footer-text">
          <span>&copy; GfK 17 </span>
        </div>
      </div>

      <div class="col-md-5">
      </div>
      <div class="clearfix">
      </div>

    </footer>
</div>