<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title"><b>{{title || 'Confirm'}}</b></h4>
    </div>
    <div class="modal-body">
      <app-data-table [SelectedRowInfo]="gridData.SelectedRowInfo" [suggestionData]="gridData.suggestionData" [data]="gridData.data" [columnconfig]="gridData.columnconfig" [settings]="gridData.settings" [events]="gridData.events" (close)="close()"></app-data-table>
    </div>
    
  </div>
</div>