﻿.table,
.table tbody tr:nth-child(odd) td {
  font-size: 12px;
  background-color: white;
}

.table td:last-child {
  max-width: 130px;
  width: 130px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid #ddd;
}

.bg-white {
  background-color: white;
}

.pipeline-height {
  height: auto
}

ul {
  list-style-type: none
}

.table tbody tr td:first-child {
  border-left: 1px solid #ddd;
}

.table tbody tr:last-child td {
  border-bottom: 1px solid #ddd;
}

.table tbody tr:first-child td {
  border-top: 1px solid #ddd;
}

.padding-top-sm {
  padding-top: 2px;
}
.padding-left-sm
{
    padding-left: 3%;
}
.overflow-auto{
    overflow: auto;
}

.collaps-icon {
  position: absolute;
  top: 8px;
}

.panel-title {
  margin-left: 5px;
}

.pipeline-object {
  font-size: small;
  padding-left:10px;
  width:136px;
}

.pipeline-button {
  font-size: small;
  padding: 0px;
}

.panel-task {
  height: 150px;
  width: 102px;
}

.btn {
  border-radius: 30px !important;
}

.clearfix {
  clear: both;
}

.highlight-heading {
  font-weight: bold;
  vertical-align: -webkit-baseline-middle;
  display: inline;
  line-height: 46px;
}

.middle {
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.prev,
.next {
  opacity: 0;
  cursor: pointer;
  width: auto;
  color: white;
  padding: 4px;
  font-size: 18px;
  transition: 0.5s;
  border-radius: 0 3px 3px 0;
  position: relative;
  transform: translateY(-120%);
  display: inline;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  float: right;
  margin-right: -15px;
}

.prev {
  left: 0;
  float: left;
  margin-left: -15px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

.contextTransition {
  height: 0px;
  transition: height 2s;
}

.LeftPad10 {
  padding-left: 10px;
}

.img63x63 {
  height: 63px;
  width: 63px;
}
.alignCenter{
  text-align: center;
}
.paddingBottom{
  padding-bottom: 10px;
}
.paddingBottomTop-sm
{
  padding-top:10px;
  padding-bottom: 10px;
}
.boldText{
  font-size: 16px;
  font-weight: bold;
}
.fixImg{
  opacity: 1;
  /* display: block; */
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

#startPipe:hover .fixImg{
  opacity: 0.2;
}
#startPipe:hover .middle{
  opacity: 1;
}

#endPipe:hover .fixImg{
  opacity: 0.2;
}
#endPipe:hover .middle{
  opacity: 1;
}
.float-right{
  float:right;
}
.ulContext{
  list-style: none;
  display: block;
  background-color: #f9f9f9;
  width:100%;

}

.menuItems{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  font-size: 12px;
  font-family: Helvetica ;
  font-weight: none;
}

div.empty ul li:hover{
  background-color: #f1f1f1
}
.empty{
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.padZero{
  padding: 0px;
}
.overflow-handle{
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 90%;
}
.auto-font {
  font-size: 12px;
  font-family: Helvetica;
  font-weight: normal;
}
.padding-for-absolute{
  min-height:400px;
  margin-bottom:150px;
}
.PipelineSettingGear{
  float: right;
  font-size: 24px;
  padding-top: 10px;
  padding-left: 5px;
}