﻿
  <li  class="bg-white marginzero paddingzero pipeline-height panel panel-default">
    <div class="panel-heading">
      <div id="pipeline-name" class="highlight-heading"> {{pipeLine.Name}}</div>
	<span *ngIf="isAdminOrConfigure" (click)="togglePipelineSettings()" class="glyphicon glyphicon-cog PipelineSettingGear pointerCursor"></span>
      <button id="add-dependent-pipeline" class="btn btn-primary margin-10" style="float:right" (click)="addChildPipeLine()"><span>Add Child Pipeline</span></button>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body paddingzero">
      <div class="paddingzero"  [id]="'tasksContainer_'+pipeLine.PipeLineID" [ngClass]="{'col-md-6':!instancePanelCollapsed,'col-md-12':instancePanelCollapsed}">
        <div [ngClass]="{'col-md-11':instancePanelCollapsed,'col-md-12':!instancePanelCollapsed}">
          <div class="pipeline-object paddingBottomTop-sm pull-left">
            <div id="startPipe_label" class="alignCenter paddingBottom auto-font">Pipeline Start</div>
            <div id="startPipe" class="alignCenter">
              <img (contextmenu)="onRightClick('start', $event, undefined)" class="img63x63 paddingBottom" src="../../../../../assets/img/startPipeline_100.png">              
            </div>
            <div id="run-pipeline" class="alignCenter" style="position:relative">
              <img [attr.id]="'run-icon-' + pipeLine.Name" style="cursor:pointer" (click)="confirmRunPipeline()" alt=""  class="paddingBottom fixImg" src="../../../../../assets/img/runPipeline.png">              
            </div>
          </div>
          <div class="pipeline-object paddingBottomTop-sm  pull-left" *ngFor="let task of tasks;let i = index">
            <div [attr.id]="'task-' + task.Name + '-' + pipeLine.Name"  class="alignCenter paddingBottom overflow-handle auto-font" [title]="task.Name">{{task.Name}}</div>
            <div class="alignCenter">
              <img [attr.id]="'task-icon-' + task.Name + '-' + pipeLine.Name" (contextmenu)="onRightClick(task, $event, i)" alt=""  class="img63x63 paddingBottom" [src]=imagePath(task.ModuleID)>
              <div class="overflow-handle auto-font" [title]="getModuleName(task.ModuleID)" [innerText]="getModuleName(task.ModuleID)"></div>
            </div>
          </div>
          <div class="pipeline-object paddingBottomTop-sm  pull-left">
            <div id="endPipe_label" class="alignCenter paddingBottom">Pipeline End</div>
            <div id="endPipe"class="alignCenter">
              <img (contextmenu)="onRightClick('end', $event, undefined)" class="img63x63 paddingBottom" src="../../../../../assets/img/Finish_100.png">
            </div>
          </div>
          <div class="empty" style="position:fixed;width:120px;z-index:1" (clickOutside)="closeContext()" *ngIf="showContextMenu" [style.left]="x" [style.top]="y">
            <ul class="ulContext padZero">
              <li id="task-edit" (mouseenter)="enableSubMenu2=false;enableSubMenu=false" class="menuItems" *ngIf="enableEdit" (click)="onContextMenuSelection('edit')" >
                  <div  class="glyphicon glyphicon-pencil"><span class="LeftPad10  auto-font">Edit</span></div>
              </li>
              <li id="task-parameters" (mouseenter)="enableSubMenu2=false;enableSubMenu=false" class="menuItems" *ngIf="enableParameters" (click)="onContextMenuSelection('parameters')">
                <div class="glyphicon glyphicon-pencil"><span class="LeftPad10  auto-font">Parameters</span></div>
              </li>
              <li id="task-move" *ngIf="tasks.length>1 && enableMove" class="menuItems" (mouseenter)="enableSubMenu=false;enableSubMenu2=true">
                <div class="glyphicon glyphicon-move"><span class="LeftPad10  auto-font">Move</span></div>
                <ul class="ulContext padZero" *ngIf="enableSubMenu2" style="position:absolute;left:100px;top:40px;">
                  <li *ngIf="enableLeft" (click)="arrowMovement('prev','move')" class="menuItems"><div class="glyphicon glyphicon-chevron-left"><span id="move-left" class="LeftPad10  auto-font">Left</span></div></li>
                  <li *ngIf="enableRight" (click)="arrowMovement('next','move')" class="menuItems"><div class="glyphicon glyphicon-chevron-right"><span id="move-right" class="LeftPad10  auto-font">Right</span></div></li>
                </ul>

              </li>
              <li id="task-add" class="menuItems" (mouseenter)="enableSubMenu2=false;enableSubMenu=true">
                  <div class="glyphicon glyphicon-plus"><span class="LeftPad10  auto-font">Add</span></div>
                  <ul class="ulContext padZero " *ngIf="enableSubMenu" style="position:absolute;left:100px;top:40px;">
                    <li *ngIf="enableAddLeft" (click)="arrowMovement('prev','add')" class="menuItems"><div class="glyphicon glyphicon-chevron-left"><span id="add-left" class="LeftPad10 auto-font">Left</span></div></li>
                    <li *ngIf="enableAddRight" (click)="arrowMovement('next','add')" class="menuItems"><div class="glyphicon glyphicon-chevron-right"><span id="add-right" class="LeftPad10 auto-font">Right</span></div></li>
                  </ul>
              </li>              
              <li id="task-delete" class="menuItems" *ngIf="enableDelete" (click)="onContextMenuSelection('delete')" (mouseenter)="enableSubMenu2=false;enableSubMenu=false">
                  <div class="glyphicon glyphicon-remove"><span class="LeftPad10  auto-font">Delete</span></div>
              </li>
            </ul>
          </div>          
          <div class="clearfix"></div>
        </div>
        <div id="expand-schedule-instances-panel" class="paddingzero pointerCursor" title="Show Pipeline Instances/Scheduler Panel" *ngIf="instancePanelCollapsed" (click)="instancePanelCollapsed=!instancePanelCollapsed">
          <svg class="icon icon-chevron-right_20px rotate-180 pull-right">
            <use xlink:href="../../assets/icons/icons.svg#icon-chevron-right_20px"></use>
          </svg>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="paddingzero"  *ngIf="!instancePanelCollapsed" [ngClass]="{'col-md-6':!instancePanelCollapsed}">
        <span id="collapse-schedule-instances-panel" title="Hide Pipeline Instances/Scheduler Panel" class="paddingzero collaps-icon pointerCursor" (click)="instancePanelCollapsed=!instancePanelCollapsed">
           <svg class="icon icon-chevron-right_20px"><use xlink:href="../../assets/icons/icons.svg#icon-chevron-right_20px"></use></svg>
        </span>
        <div class="panel-group marginzero">
          <app-scheduler-panel [pipelineID]="PipelineIDforSchedule" [showSchedular]="showSchedular" [pipelineName]="pipeLine.Name" (toggleScheduler)="toggelSchedular($event)" (ScheduleUpdated)="updateScheduleInPipeline($event)"></app-scheduler-panel>
          <div class="panel panel-default padding-top-sm marginzero">
            <div class="panel-heading pointerCursor" (click)="toggelSchedular($event)">
              <h4 class="panel-title">
                Pipeline Instances
              </h4>
            </div>
            <div *ngIf="showInstances" class="panel-collapse">
              <div class="panel-body paddingzero">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <td>Start</td>
                      <td>End</td>
                      <td>Status</td>
                      <td>Notification</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let pipelineInstance of pipelineInstances" class="show-hand" (click)="showInstanceDetails(pipelineInstance)">
                      <td>{{dataservice.formatDate(pipelineInstance.Started)}}</td>
                      <td>{{dataservice.formatDate(pipelineInstance.Ended)}}</td>
                      <td>{{pipelineInstance.Status}}</td>
                      <td title="{{pipelineInstance.Message}}">{{pipelineInstance.Message}}</td>
                    </tr>
                    <tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div [@slideInOut]="menuState" style="position:absolute;width:165px;z-index:1; right:0; box-shadow: 1px 1px 5px #888888;">
        <ul class="ulContext padZero">
          <li id="pipeline-rename" class="menuItems" style="padding: 6px 10px;" (click)="renamePipeline()">
            <div class="glyphicon glyphicon-pencil" >
              <span class="auto-font">Rename Pipeline</span>
            </div>
          </li>
          <li id="pipeline-delete" class="menuItems" style="padding: 6px 10px;" (click)="DeletePipeline()">
            <div class="glyphicon glyphicon-remove">
              <span class="auto-font">Delete Pipeline</span>
            </div>
          </li> 
          <li id="pipeline-notification-settings-edit" class="menuItems" style="padding: 6px 10px;" (click)="ShowpipelineNotificationSettings()">
            <div class="glyphicon glyphicon-edit">
              <span class="auto-font">Notification Settings</span>
            </div>
          </li>          
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </li>
  <li class="marginzero padding-left-sm" *ngIf="pipeLine.Pipelines.length!=0">
    <ul *ngFor="let depPipeline of pipeLine.Pipelines;trackBy:trackPipeline">
        <app-project-view-pipeline [project]="project" [allModules]='allModules' [pipeLine]="depPipeline"></app-project-view-pipeline>  
    </ul>
  </li>