﻿<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()">&times;</button>
            <h4 id="DialogTitle" class="modal-title"><b>{{title || 'Confirm'}}</b></h4>
        </div>
        <div class="modal-body">
            <div>How do you want to run pipeline - {{message}}?</div>
        <div class="RunOptions">
            <div *ngIf="pipelineData.ParentID" class="radio form-group form-group-sm">
                <input  type="radio" name="radio" id="RunParent" [(ngModel)]="RunType" value="PARENT" />
                <label for="RunParent">
                    <span>
                        <svg class="icon icon-checkmark_20px" [ngClass]="{'enableOpacity':RunType=='PARENT'?true:false}">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/icons.svg#icon-checkmark_20px"></use>
                        </svg>
                    </span>Run this pipeline and all parents.
                </label>
            </div>
            <div class="radio form-group form-group-sm">
                <input type="radio" name="radio" id="RunOnlyCurrent" [(ngModel)]="RunType" value="NONE" />
                <label for="RunOnlyCurrent">
                    <span>
                        <svg class="icon icon-checkmark_20px" [ngClass]="{'enableOpacity':RunType=='NONE'?true:false}">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/icons.svg#icon-checkmark_20px"></use>
                        </svg>
                    </span>Run this pipeline.
                </label>
            </div>
            <div *ngIf="pipelineData['Pipelines'].length>0" class="radio form-group form-group-sm">
                <input type="radio" name="radio" id="RunChildren" [(ngModel)]="RunType" value="CHILDREN" />
                <label for="RunChildren">
                    <span>
                        <svg class="icon icon-checkmark_20px" [ngClass]="{'enableOpacity':RunType=='CHILDREN'?true:false}">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/icons.svg#icon-checkmark_20px"></use>
                        </svg>
                    </span>Run this pipeline and all children.
                </label>
            </div>
        </div>
        </div>
        <div class="modal-footer">
            <button id="confirm" class="btn btn-primary" (click)="confirm()"><span>OK</span></button>
            <span id="cancel" class="accent-paragraph pointerCursor" (click)="close()"><span>Cancel</span></span>
        </div>
    </div>
</div>