﻿<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()">&times;</button>
            <h4 id="DialogTitle" class="modal-title"><b>{{title || 'Confirm'}}</b></h4>
        </div>
      <div class="modal-body">
        <div class="form-group" [ngClass]="{'js-form-is-collapsable js-form-message-close':!isErorrOpened,'js-form-is-collapsable js-form-message-open':isErorrOpened,'validation-error':errorEnabled}">
          <a class="input-button-icon input-button-icon-warning" *ngIf="errorEnabled" (click)="isErorrOpened=!isErorrOpened" tabindex="-1">
            <svg class="icon icon-warning_30px">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/icons.svg#icon-warning_30px"></use>
            </svg>
          </a>

          <div class="panel-collapse collapse">
            <p>{{validationError}}</p>
          </div>
          <label for="input-field-info-4" class="control-label">Pipeline Name<span style="color:red;display:inline;padding-left: 10px">*</span></label>
          <input type="text" [(ngModel)]="pipelineName" class="form-control" id="input-field-info-4">
        </div>
      </div>
        <div class="modal-footer">
            <button id="confirm" class="btn btn-primary" (click)="confirm()"><span>Save</span></button>
            <span id="cancel" class="accent-paragraph pointerCursor" (click)="close()"><span>Cancel</span></span>
        </div>
    </div>
</div>