.btn{
        border-radius: 30px !important;
}
.enableOpacity {
  opacity: 1;
}
.margin-top-sm {
  margin-top: 12px;
}

.icon-checkmark_20px {
  height: 20px;
  width: 20px;
  left: 0px;
  top: -3px;
}

.checkbox label span {
  height: 20px;
  width: 20px;
  margin-top: 5px;
}

.checkbox label {
  color: black;
}

.checkbox label svg {
  height: 20px;
  width: 20px;
  left: 0px;
  top: -3px;
}

.radio label span {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 2px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  color: black;

}
.radio label {
  position: relative;
  margin: 0;
  padding-left: 24px;
  font-size: 16px;
  font-weight: normal;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: black;
}
.form-group {
  position: relative;
  margin: 0 0 8px;
}
.RunOptions{
  margin-left: 15px;
  margin-top: 6px;
}