﻿<div class="panel panel-default">
  <form>
  <div id="schedulerpanel" class="panel-heading headerStyle pointerCursor" (click)="toggelSchedular($event)">
    <h4 id="scheduler-title" class="panel-title padding-left-six" style="display:inline">
      Scheduler
    </h4>
    <div id="errorMessage" *ngIf="showError" class="scheduleError">*Please save your schedule before enabling it.</div>
    <div style="float:right">
      <div class="checkbox form-group">
        <input type="checkbox" name="checkbox-1" [attr.id]="'enabled-'+pipelineID" value="false" [(ngModel)]="ScheduleObject.Enabled" (ngModelChange)="PostSchedule(false)" />
        <label [attr.for]="'enabled-'+pipelineID">
          <span><svg class="icon icon-checkmark_20px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../../../../assets/icons/icons.svg#icon-checkmark_20px"></use></svg></span> Enabled
        </label>
      </div>
    </div>
  </div>

  <div *ngIf="showSchedular" class="panel-collapse schedule-panel">
    <div class="panel-body paddingzero">
      <div class="row">        
        <a class="btn btn-primary save-button" (click)="saveSchedule()">
          <span>Save</span>
        </a>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div class="col-md-6">
            <label class="main-label">Pipeline Start Time</label>
            <!-- <p-calendar name="input-1" [(ngModel)]="startDate" showTime="showTime" hourFormat="24" showIcon="true" [minDate]="minDate" (ngModelChange)="showError=false;"></p-calendar> -->
            <div>
            <span id="dateText" class="formatedDateTime">{{formatDateToView()}}</span>
            <owl-date-time #owl [min]="minDate" (onClose)="calendarOpen=false;" dateFormat="MM/DD/YYYY HH:mm" name="input-1" [(ngModel)]="startDate" (ngModelChange)="showError=false;" [required]="true">
              <div class="calendar-btn pointerCursor" (click)="ToggleCalendar($event)">

                  <i class="fa fa-calendar" aria-hidden="true"></i>
              </div>
            </owl-date-time>
          </div>
          </div>
          <div class="col-md-8 tmz-style">
            <div class="dropdown dropdown-small dropdown-custom bootstrap-select-wrap form-group form-group-sm">
              <label class="main-label">TMZ</label>
              <div class="btn-group bootstrap-select select-dropdown" [ngClass]="{'open':parameter}">
                <button class="btn bdr-5 dropdown-toggle" (click)="parameter=!parameter; checkBottomofPage($event, 350)">
                  <span class="filter-option pull-left">{{timeZoneObjectSelected ? timeZoneObjectSelected.StandardName : ''}}</span>&nbsp;
                  <span class="bs-caret">
                    <svg version="1.1" id="arrow-down" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" xml:space="preserve"><g><path d="M16 22.857l11.429-11.406-2.45-2.309-8.978 8.88-8.985-8.88-2.443 2.311z"></path></g>
                    </svg>
                  </span>
                </button>
                <div class="scroll-wrapper open iscroll-init dropdown-menu" style="overflow-y:auto" [ngClass]="{'TMZDrop':parameter, 'dropDownPositionUP':notEnoughSpaceToRender}">
                  <ul class="dropdown-list" (click)="parameter = false;showError=false;">
                    <li [ngClass]="{'selected':opt.isSelected}" *ngFor="let opt of abbrAndOffset;" (click)="timeZoneObjectSelected=opt">
                      <a tabindex="-1" role="option">
                        <span class="text">{{opt.StandardName}}</span>
                        <!--<span [ngClass]="{'glyphicon glyphicon-ok check-mark':opt.isSelected}"></span>-->
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div>

        <label class="main-label" style="padding-left: 10px;">Recurrence Frequency</label>
        <div>
          <div>
            <table style="margin-left: 10px;">
              <tr>
                <td>
                  <div class="radio form-group form-group-sm">
                    <input type="radio" name="radio" [attr.id]="'radio-1'+instanceId" [(ngModel)]="ScheduleObject.Recurrence" value="0" (ngModelChange)="InitScheduleModel()" />
                    <label [attr.for]="'radio-1'+instanceId">
                      <span><svg class="icon icon-checkmark_20px" [ngClass]="{'enableOpacity':ScheduleObject.Recurrence==0?true:false}"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/icons.svg#icon-checkmark_20px"></use></svg></span>None
                    </label>
                  </div>
                </td>
                <td>
                  <div class="radio  form-group">
                    <input type="radio" name="radio" [attr.id]="'radio-2'+instanceId" [(ngModel)]="ScheduleObject.Recurrence" value="1" (ngModelChange)="InitScheduleModel()" />
                    <label [attr.for]="'radio-2'+instanceId">
                      <span><svg class="icon icon-checkmark_20px" [ngClass]="{'enableOpacity':ScheduleObject.Recurrence==1?true:false}"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/icons.svg#icon-checkmark_20px"></use></svg></span>Daily
                    </label>
                  </div>
                </td>
                <td>
                  <div class="radio  form-group">
                    <input type="radio" name="radio" [attr.id]="'radio-4'+instanceId" [(ngModel)]="ScheduleObject.Recurrence" value="2" (ngModelChange)="InitScheduleModel()" />
                    <label [attr.for]="'radio-4'+instanceId">
                      <span><svg class="icon icon-checkmark_20px" [ngClass]="{'enableOpacity':ScheduleObject.Recurrence==2?true:false}"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/icons.svg#icon-checkmark_20px"></use></svg></span>Weekly
                    </label>
                  </div>
                </td>
                <td>
                  <div class="radio  form-group">
                    <input type="radio" name="radio" [attr.id]="'radio-3'+instanceId" [(ngModel)]="ScheduleObject.Recurrence" value="3" (ngModelChange)="InitScheduleModel()" />
                    <label [attr.for]="'radio-3'+instanceId">
                      <span><svg class="icon icon-checkmark_20px" [ngClass]="{'enableOpacity':ScheduleObject.Recurrence==3?true:false}"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/icons.svg#icon-checkmark_20px"></use></svg></span>Monthly
                    </label>
                  </div>
                </td>
                <td>
                  <div class="radio  form-group">
                    <input type="radio" name="radio" [attr.id]="'radio-5'+instanceId" [(ngModel)]="ScheduleObject.Recurrence" value="4" (ngModelChange)="InitScheduleModel()" />
                    <label [attr.for]="'radio-5'+instanceId">
                      <span><svg class="icon icon-checkmark_20px" [ngClass]="{'enableOpacity':ScheduleObject.Recurrence==4?true:false}"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/icons.svg#icon-checkmark_20px"></use></svg></span>Yearly
                    </label>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div *ngIf="ScheduleObject.Recurrence!='0'" class="divider">.</div>
        <div>
          <div *ngIf="ScheduleObject.Recurrence!='0' && ScheduleObject.Recurrence == '1'"> <!--Daily-->
            <div>
              <div class="radio form-group" style="margin-left: 26px;">
                <input type="radio" name="radio1" [attr.id]="'radio-6'+instanceId" [(ngModel)]="ScheduleObject.DailyRecurrenceType" value="1" (ngModelChange)="resetDropDownAndSelections()" />
                <label [attr.for]="'radio-6'+instanceId">
                  <span><svg class="icon icon-checkmark_20px" [ngClass]="{'enableOpacity':ScheduleObject.DailyRecurrenceType==1?true:false}"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/icons.svg#icon-checkmark_20px"></use></svg></span>Every
                  <input name="input-2" style="width:20px" type="number" [(ngModel)]="ScheduleObject.RecurEvery" maxlength="2" [ngClass]="{'validation-error':recurr}" (ngModelChange)="recurrr()" /> day(s)
                </label>
              </div>
              <div class="radio form-group" style="margin-left: 26px;">
                <input type="radio" name="radio1" [attr.id]="'radio-7'+instanceId" [(ngModel)]="ScheduleObject.DailyRecurrenceType" value="2" (ngModelChange)="resetDropDownAndSelections()" />
                <label [attr.for]="'radio-7'+instanceId">
                  <span><svg class="icon icon-checkmark_20px" [ngClass]="{'enableOpacity':ScheduleObject.DailyRecurrenceType==2?true:false}"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/icons.svg#icon-checkmark_20px"></use></svg></span>Every weekday
                </label>
              </div>
            </div>
          </div>
          <div *ngIf="ScheduleObject.Recurrence!='0' && ScheduleObject.Recurrence == '3'"><!--MOnthly-->
            <div class="col-lg-12" style="margin-left: 15px;">
              <div class="radio  form-group">
                <input type="radio" name="radio2" [attr.id]="'radio-8'+instanceId" [(ngModel)]="ScheduleObject.MonthlyRecurrenceType" value="1" (ngModelChange)="resetDropDownAndSelections()" />
                <label [attr.for]="'radio-8'+instanceId">
                  <span><svg class="icon icon-checkmark_20px" [ngClass]="{'enableOpacity':ScheduleObject.MonthlyRecurrenceType==1?true:false}"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/icons.svg#icon-checkmark_20px"></use></svg></span>Day <input name="input-3" style="width:30px" type="number" [(ngModel)]="MonthlyYearlyModels[3][1]['DayOfMonth']" maxlength="2" [ngClass]="{'validation-error':monthDate}" (ngModelChange)=" dateCheck()" /> of every month
                  <!-- <input name="input-4" style="width:30px" type="number" [(ngModel)]="ScheduleObject.RecurEvery" maxlength="2" [ngClass]="{'validation-error':recurr}" (ngModelChange)="recurrr()" /> month(s) -->
                </label>
              </div>
              <div class="radio  form-group">
                <input type="radio" name="radio2" [attr.id]="'radio-9'+instanceId" [(ngModel)]="ScheduleObject.MonthlyRecurrenceType" value="2" (ngModelChange)="resetDropDownAndSelections()" />
                <label [attr.for]="'radio-9'+instanceId">
                  <span><svg class="icon icon-checkmark_20px" [ngClass]="{'enableOpacity':ScheduleObject.MonthlyRecurrenceType==2?true:false}"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/icons.svg#icon-checkmark_20px"></use></svg></span>The
                </label>
                <div class="dropdown dropdown-small dropdown-custom bootstrap-select-wrap form-group" style="width:100px;display:inline-block">
                  <div class="btn-group bootstrap-select select-dropdown" [ngClass]="{'open':DayOfWeekOffsetDrop}">
                    <button class="btn bdr-5 dropdown-toggle" (click)="DayOfWeekOffsetDrop=!DayOfWeekOffsetDrop; ; checkBottomofPage($event, 150)">
                      <span class="filter-option pull-left">{{MonthlyYearlyModels[3][2]['DayOfWeekOffsetSelected'] !== undefined ? MonthlyYearlyModels[3][2]['DayOfWeekOffsetSelected']['name'] : ''}}</span>&nbsp;
                      <span class="bs-caret">
                        <svg version="1.1" id="arrow-down" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" xml:space="preserve"><g><path d="M16 22.857l11.429-11.406-2.45-2.309-8.978 8.88-8.985-8.88-2.443 2.311z"></path></g>
                              </svg>
                      </span>
                    </button>
                    <div class="scroll-wrapper open iscroll-init dropdown-menu" style="overflow-y:auto" [ngClass]="{'commonHeight':DayOfWeekOffsetDrop, 'dropDownPositionUP':notEnoughSpaceToRender }">
                      <ul class="dropdown-list" (click)="DayOfWeekOffsetDrop = false">
                        <li [ngClass]="{'selected':opt.isSelected}" *ngFor="let opt of DayOfWeekOffset;" (click)="MonthlyYearlyModels[3][2]['DayOfWeekOffsetSelected']=opt">
                          <a tabindex="-1" role="option">
                            <span class="text">{{opt.name}}</span>
                            <!--<span [ngClass]="{'glyphicon glyphicon-ok check-mark':opt.isSelected}"></span>-->
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="dropdown dropdown-small dropdown-custom bootstrap-select-wrap form-group" style="width:100px;display:inline-block">
                  <div class="btn-group bootstrap-select select-dropdown" [ngClass]="{'open':DayOfWeekDrop}">
                    <button class="btn bdr-5 dropdown-toggle" (click)="DayOfWeekDrop=!DayOfWeekDrop; checkBottomofPage($event, 150)">
                      <span class="filter-option pull-left">{{MonthlyYearlyModels[3][2]['DayOfWeekSelected'] ? MonthlyYearlyModels[3][2]['DayOfWeekSelected']['name'] : ''}}</span>&nbsp;
                      <span class="bs-caret">
                        <svg version="1.1" id="arrow-down" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" xml:space="preserve"><g><path d="M16 22.857l11.429-11.406-2.45-2.309-8.978 8.88-8.985-8.88-2.443 2.311z"></path></g>
                              </svg>
                      </span>
                    </button>
                    <div class="scroll-wrapper open iscroll-init dropdown-menu" style="overflow-y:auto" [ngClass]="{'commonHeight':DayOfWeekDrop, 'dropDownPositionUP':notEnoughSpaceToRender}">
                      <ul class="dropdown-list" (click)="DayOfWeekDrop = false">
                        <li [ngClass]="{'selected':opt.isSelected}" *ngFor="let opt of DayOfWeek;" (click)="MonthlyYearlyModels[3][2]['DayOfWeekSelected']=opt">
                          <a tabindex="-1" role="option">
                            <span class="text">{{opt.name}}</span>
                            <!--<span [ngClass]="{'glyphicon glyphicon-ok check-mark':opt.isSelected}"></span>-->
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                of every month
                <!-- <input name="input-5" type="number" style="width:30px;" [(ngModel)]="ScheduleObject.RecurEvery" maxlength="2" [ngClass]="{'validation-error':recurr}"
                       (ngModelChange)="recurrr()" /> month(s) -->
              </div>
            </div>
          </div>
          <div *ngIf="ScheduleObject.Recurrence!='0' && ScheduleObject.Recurrence == '2'"> <!--Weekly-->
            <label class="recur-label">Recur every week on: </label> 
            <!-- <input name="input-8" style="width:30px;" type="number" [(ngModel)]="ScheduleObject.RecurEvery" maxlength="2" [ngClass]="{'validation-error':recurr}" (ngModelChange)="recurrr()" /> week(s) -->
            <div>
              <table style="margin-left: 20px;">
                <tr>
                  <td>
                    <div class="checkbox form-group">
                      <input type="checkbox" name="checkbox-2" [attr.id]="'checkbox-2'+instanceId" value="false" [(ngModel)]="ScheduleObject.OnSunday">
                      <label [attr.for]="'checkbox-2'+instanceId">
                        <span><svg class="icon icon-checkmark_20px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../../../../assets/icons/icons.svg#icon-checkmark_20px"></use></svg></span> Sun
                      </label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox form-group">
                      <input type="checkbox" name="checkbox-3" [attr.id]="'checkbox-3'+instanceId" value="false" [(ngModel)]="ScheduleObject.OnMonday">
                      <label [attr.for]="'checkbox-3'+instanceId">
                        <span><svg class="icon icon-checkmark_20px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../../../../assets/icons/icons.svg#icon-checkmark_20px"></use></svg></span> Mon
                      </label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox form-group">
                      <input type="checkbox" name="checkbox-4" [attr.id]="'checkbox-4'+instanceId" value="false" [(ngModel)]="ScheduleObject.OnTuesday">
                      <label [attr.for]="'checkbox-4'+instanceId">
                        <span><svg class="icon icon-checkmark_20px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../../../../assets/icons/icons.svg#icon-checkmark_20px"></use></svg></span> Tue
                      </label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox form-group">
                      <input type="checkbox" name="checkbox-5" [attr.id]="'checkbox-5'+instanceId" value="false" [(ngModel)]="ScheduleObject.OnWednesday">
                      <label [attr.for]="'checkbox-5'+instanceId">
                        <span><svg class="icon icon-checkmark_20px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../../../../assets/icons/icons.svg#icon-checkmark_20px"></use></svg></span> Wed
                      </label>
                    </div>
                  </td>

                  <td>
                    <div class="checkbox form-group">
                      <input type="checkbox" name="checkbox-6" [attr.id]="'checkbox-6'+instanceId" value="false" [(ngModel)]="ScheduleObject.OnThursday">
                      <label [attr.for]="'checkbox-6'+instanceId">
                        <span><svg class="icon icon-checkmark_20px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../../../../assets/icons/icons.svg#icon-checkmark_20px"></use></svg></span> Thu
                      </label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox form-group">
                      <input type="checkbox" name="checkbox-7" [attr.id]="'checkbox-7'+instanceId" value="false" [(ngModel)]="ScheduleObject.OnFriday">
                      <label [attr.for]="'checkbox-7'+instanceId">
                        <span><svg class="icon icon-checkmark_20px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../../../../assets/icons/icons.svg#icon-checkmark_20px"></use></svg></span> Fri
                      </label>
                    </div>
                  </td>
                  <td>
                    <div class="checkbox form-group">
                      <input type="checkbox" name="checkbox-8" [attr.id]="'checkbox-8'+instanceId" value="false" [(ngModel)]="ScheduleObject.OnSaturday">
                      <label [attr.for]="'checkbox-8'+instanceId">
                        <span><svg class="icon icon-checkmark_20px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../../../../assets/icons/icons.svg#icon-checkmark_20px"></use></svg></span> Sat
                      </label>
                    </div>
                  </td>
              </table>
            </div>
          </div>
          <div *ngIf="ScheduleObject.Recurrence!='0' && ScheduleObject.Recurrence == '4'"> <!--Yearly-->
            <label class="recur-label">Recur every year on:<!--<input name="input-6" style="width:30px; margin-left: 20px;" type="number" [(ngModel)]="ScheduleObject.RecurEvery" maxlength="2" [ngClass]="{'validation-error':recurr}" (ngModelChange)="recurrr()" /> year(s)--></label>
            <div class="row">
              <div class="radio  form-group" style="margin-bottom: 0px; margin-left: 35px;">
                <input type="radio" name="radio3" [attr.id]="'radio-10'+instanceId" [(ngModel)]="ScheduleObject.YearlyRecurrenceType" value="1" (ngModelChange)="resetDropDownAndSelections()"/>
                <label [attr.for]="'radio-10'+instanceId">
                  <span><svg class="icon icon-checkmark_20px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/icons.svg#icon-checkmark_20px"></use></svg></span>On:
                </label>
                <div class="dropdown dropdown-small dropdown-custom bootstrap-select-wrap form-group" style="width:100px;display:inline-block">
                  <div class="btn-group bootstrap-select select-dropdown" [ngClass]="{'open':MonthOfYearDropFirst}">
                    <button class="btn bdr-5 dropdown-toggle" (click)="MonthOfYearDropFirst=!MonthOfYearDropFirst; checkBottomofPage($event, 150)">
                      <span class="filter-option pull-left">{{MonthlyYearlyModels[4][1]['MonthOfYearSelected'] ? MonthlyYearlyModels[4][1]['MonthOfYearSelected']['name'] : ''}}</span>&nbsp;
                      <span class="bs-caret">
                        <svg version="1.1" id="arrow-down" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" xml:space="preserve"><g><path d="M16 22.857l11.429-11.406-2.45-2.309-8.978 8.88-8.985-8.88-2.443 2.311z"></path></g>
                              </svg>
                      </span>
                    </button>
                    <div class="scroll-wrapper open iscroll-init dropdown-menu" style="overflow-y:auto" [ngClass]="{'commonHeight':MonthOfYearDropFirst, 'dropDownPositionUP':notEnoughSpaceToRender}">
                      <ul class="dropdown-list" (click)="MonthOfYearDropFirst = false">
                        <li [ngClass]="{'selected':opt.isSelected}" *ngFor="let opt of MonthOfYear;" (click)="MonthlyYearlyModels[4][1]['MonthOfYearSelected']=opt">
                          <a tabindex="-1" role="option">
                            <span class="text">{{opt.name}}</span>
                            <!--<span [ngClass]="{'glyphicon glyphicon-ok check-mark':opt.isSelected}"></span>-->
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div> <input name="input-7" style="width:30px" type="number" [(ngModel)]="MonthlyYearlyModels[4][1]['DayOfMonth']" maxlength="2" [ngClass]="{'validation-error':monthDate}"
                              (ngModelChange)=" dateCheck()" />
              </div>
              <div class="radio  form-group" style="margin-left: 35px;">
                <input type="radio" name="radio3" [attr.id]="'radio-11'+instanceId" [(ngModel)]="ScheduleObject.YearlyRecurrenceType" value="2" (ngModelChange)="resetDropDownAndSelections()" />
                <label [attr.for]="'radio-11'+instanceId">
                  <span><svg class="icon icon-checkmark_20px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/icons/icons.svg#icon-checkmark_20px"></use></svg></span>On the:
                </label>
                <div class="dropdown dropdown-small dropdown-custom bootstrap-select-wrap form-group" style="width:100px;display:inline-block">
                  <div class="btn-group bootstrap-select select-dropdown" [ngClass]="{'open':DayOfWeekOffsetDrop}">
                    <button class="btn bdr-5 dropdown-toggle" (click)="DayOfWeekOffsetDrop=!DayOfWeekOffsetDrop; checkBottomofPage($event, 150)">
                      <span class="filter-option pull-left">{{MonthlyYearlyModels[4][2]['DayOfWeekOffsetSelected'] ? MonthlyYearlyModels[4][2]['DayOfWeekOffsetSelected']['name'] : ''}}</span>&nbsp;
                      <span class="bs-caret">
                        <svg version="1.1" id="arrow-down" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" xml:space="preserve"><g><path d="M16 22.857l11.429-11.406-2.45-2.309-8.978 8.88-8.985-8.88-2.443 2.311z"></path></g>
                              </svg>
                      </span>
                    </button>
                    <div class="scroll-wrapper open iscroll-init dropdown-menu" style="overflow-y:auto" [ngClass]="{'commonHeight':DayOfWeekOffsetDrop, 'dropDownPositionUP':notEnoughSpaceToRender}">
                      <ul class="dropdown-list" (click)="DayOfWeekOffsetDrop = false">
                        <li [ngClass]="{'selected':opt.isSelected}" *ngFor="let opt of DayOfWeekOffset;" (click)="MonthlyYearlyModels[4][2]['DayOfWeekOffsetSelected']=opt">
                          <a tabindex="-1" role="option">
                            <span class="text">{{opt.name}}</span>
                            <!--<span [ngClass]="{'glyphicon glyphicon-ok check-mark':opt.isSelected}"></span>-->
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="dropdown dropdown-small dropdown-custom bootstrap-select-wrap form-group" style="width:100px;display:inline-block">
                  <div class="btn-group bootstrap-select select-dropdown" [ngClass]="{'open':DayOfWeekDrop}">
                    <button class="btn bdr-5 dropdown-toggle" (click)="DayOfWeekDrop=!DayOfWeekDrop; checkBottomofPage($event, 150)">
                      <span class="filter-option pull-left">{{ MonthlyYearlyModels[4][2]['DayOfWeekSelected']  ? MonthlyYearlyModels[4][2]['DayOfWeekSelected']['name'] : ''}}</span>&nbsp;
                      <span class="bs-caret">
                        <svg version="1.1" id="arrow-down" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" xml:space="preserve"><g><path d="M16 22.857l11.429-11.406-2.45-2.309-8.978 8.88-8.985-8.88-2.443 2.311z"></path></g>
                              </svg>
                      </span>
                    </button>
                    <div class="scroll-wrapper open iscroll-init dropdown-menu" style="overflow-y:auto" [ngClass]="{'commonHeight':DayOfWeekDrop, 'dropDownPositionUP':notEnoughSpaceToRender}">
                      <ul class="dropdown-list" (click)="DayOfWeekDrop = false">
                        <li [ngClass]="{'selected':opt.isSelected}" *ngFor="let opt of DayOfWeek;" (click)="MonthlyYearlyModels[4][2]['DayOfWeekSelected']=opt">
                          <a tabindex="-1" role="option">
                            <span class="text">{{opt.name}}</span>
                            <!--<span [ngClass]="{'glyphicon glyphicon-ok check-mark':opt.isSelected}"></span>-->
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div> of
                <div class="dropdown dropdown-small dropdown-custom bootstrap-select-wrap form-group" style="width:100px;display:inline-block">
                  <div class="btn-group bootstrap-select select-dropdown" [ngClass]="{'open':MonthOfYearDropSecond}">
                    <button class="btn bdr-5 dropdown-toggle" (click)="MonthOfYearDropSecond=!MonthOfYearDropSecond; checkBottomofPage($event,150)">
                      <span class="filter-option pull-left">{{ MonthlyYearlyModels[4][2]['MonthOfYearSelected']  ? MonthlyYearlyModels[4][2]['MonthOfYearSelected']['name'] : ''}}</span>&nbsp;
                      <span class="bs-caret">
                        <svg version="1.1" id="arrow-down" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" xml:space="preserve"><g><path d="M16 22.857l11.429-11.406-2.45-2.309-8.978 8.88-8.985-8.88-2.443 2.311z"></path></g>
                              </svg>
                      </span>
                    </button>
                    <div class="scroll-wrapper open iscroll-init dropdown-menu" style="overflow-y:auto" [ngClass]="{'commonHeight':MonthOfYearDropSecond, 'dropDownPositionUP':notEnoughSpaceToRender}">
                      <ul class="dropdown-list" (click)="MonthOfYearDropSecond = false">
                        <li [ngClass]="{'selected':opt.isSelected}" *ngFor="let opt of MonthOfYear;" (click)="MonthlyYearlyModels[4][2]['MonthOfYearSelected'] =opt">
                          <a tabindex="-1" role="option">
                            <span class="text">{{opt.name}}</span>
                            <!--<span [ngClass]="{'glyphicon glyphicon-ok check-mark':opt.isSelected}"></span>-->
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </form>
</div>
