﻿.table-border-0 td {
  border: 0px !important;
}

.margin-top-sm {
  margin-top: 12px;
}

.icon-checkmark_20px {
  height: 20px;
  width: 20px;
  left: 0px;
  top: -3px;
}

.checkbox label span {
  height: 20px;
  width: 20px;
  margin-top: 5px;
}

.checkbox label {
  color: black;
}
.move-right-corner {
  position: absolute;
  right: 2px;
  top: 5px;
}

.checkbox label {
  padding-left: 24px;
}

.ngui-datetime-picker-wrapper {
  padding:0 17px;
  position: relative;
}

.verticalLine {
  border-right: thick solid #666666;
  height:100px
}

.checkbox label svg {
  height: 20px;
  width: 20px;
  left: 0px;
  top: -3px;
}
.enableOpacity{
  opacity:1;
}
.validation-error {
  border-color: #dc291e;
}

.padding-left-six {
  padding-left: 6px;
}

.save-button {
  float: right;
  margin-right: -90px;
  line-height: 1.0;
  margin-top: 10px;  
}


.dropdown-small  .dropdown-toggle {
  
  font-size: 14px !important;
  height: 34px !important;
}

  .dropdown-small  .dropdown-toggle .bs-caret {
    
    height: 34px !important;
  }

.tmz-style {
  float: right;
  margin-right: -90px;
}

.radio label span {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 2px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  color: black;

}
.radio label {
  position: relative;
  margin: 0;
  padding-left: 24px;
  font-size: 16px;
  font-weight: normal;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: black;
}

td, th {
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.main-label {
  display: block;
  color: #666666;
  font-size: 14px;
  padding: 0;
  margin-bottom: 6px;
}
.recur-label {
  display: block;
  color: #666666;
  font-size: 14px;
  padding: 0;
  margin-bottom: 6px;
  margin-left: 20px;
}

.divider {
  width: 60%;
  font-size: 1px;
  color: rgba(0, 0, 0, 0);
  line-height: 1px;
  background-color: grey;
  margin-top: -6px;
  margin-left: 100px;
  margin-bottom: 20px;
}

.schedule-margin {
  margin-left: 90px;
}

.schedule-margin-small {
  margin-left: 50px;
}

.schedule-margin-large {
  margin-left: 150px;
}

.schedule-panel {
  width: 100%;
  overflow-wrap: normal;
}

.ui-datepicker.ui-widget {
  top: 34px !important;
}

div.scroll-wrapper.open.iscroll-init.dropdown-menu.TMZDrop{
  max-height: 289px!important;
  transition: max-height 0.8s ease;
  overflow: hidden;
}

div.scroll-wrapper.open.iscroll-init.dropdown-menu.commonHeight{
  max-height: 150px!important;
  transition: max-height 0.8s ease;
  overflow: hidden;
}
.headerStyle{
  color: #333333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.scheduleError{
  color: rgb(255, 0, 0);
  font-size: 12px;
  display: inline-block;
  padding-left: 4px;
}

.dropDownPositionUP{
bottom: 92%;
position: absolute!important;
top: auto!important;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}
.formatedDateTime{
  display: inline-block;
  height: 32px;
  border: 1px solid #cccc;
  padding: 5px;
  width: 135px;
  font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Verdana, sans-serif;
  cursor: default;
}